<script>
	$('.listtraveller').click(function(){
		$('.ui.modal.list')
        .modal('show');
	});
		
</script>
<script>
		$(".right .item ").click(function(){
		//alert('sdvsvs');
		$this.addClass('aaa');
		//$this.closest('.ui.dimmer.modals').hide();
		});
</script>
<div class="ui primary test button fluid listtraveller"><i class="plane icon"></i> My Travellers</div>
<div class="ui modal list">
<i class="close icon"></i>
<div class="right">
    <h2>My Travellers</h2>
    {{#if mytraveller.travellers.length==0}}
         <div class="item">
            No Traveller Found.
         </div>
    {{/if}}
    {{#each mytraveller.travellers}}
    <div on-click="mobileselect(id)" class="item {{#if mytraveller.currentTraveller.id == id }}  active {{/if}}" id="{{id}}">
         <img src="{{baseUrl}}/themes/B2C/img/guest.png" alt=""/>
        {{first_name}} {{last_name}}
    </div>
     {{/each}}    

</div>
</div>

