{{# { step: booking.steps.2 } }}
{{#if step.active}}

<section>
    <div class="title_stripe">Passenger Details</div>
    <div class="passenger">

        <form class="ui huge form {{#if step.errors}}error{{/if}} {{#if step.errors}}error{{/if}} {{#if step.submitting}}loading{{/if}}">
            {{#each booking.passengers:i}}
            <div class="passenger-header header CountStrip">{{ meta.travelerTypes[type_id] }}({{no}})</div>
            <passenger class="basic" validation="{{booking.passengerValidaton}}" travelers="{{travelers}}" passenger="{{.}}" errors="{{step.errors[i]}}" meta="{{meta}}"></passenger>
            {{/each}}

            <div id="btn_passenger" class="fluid huge ui blue button" on-click="submit()">Continue</div>
        </form>


    </div>

</section>
{{/if}}
{{/}}