<div class="spacer-large">
<h2 class="cmsTitle">Booking Guidelines</h2> 

<div class="well span12 cmsContent">
    <p>
        Flight bookings of “Lowest & Discounted Fares”, are easy to book with a “Few Clicks” for all International, Domestic & Low Cost Airlines, on www.cheaptickets24.com . Payment can be instantly made with Credit & Debit Cards, Net Banking or Bank transfers through over 50 banks. Payment can also be made with foreign Credit Cards. EMI options “Fly now Pay later” are also available Online. All transactions are 3D & SSL Secured with data encrypted on www.cheaptickets24.com.
    </p>
    
    <p>Given below “Flight Booking Process”:</p>
   
    <h2>Step 1: Booking Page</h2>
    <ul>
        <li>Select Domestic or International Travel.</li>

        <li> Select One way – Round Trip – Multi City.</li>

        <li> Select Origin & Destination Cities.</li>

        <li> Click on the Calendar & Select the travel dates</li>

        <li> Select No. of Pax. - Adults, Children or Infants.</li>

        <li> Select Booking Class - Economy, Premium Economy, Business or First.</li>

        <li> For Fares in “Foreign Currency”, Select “Currency”, on top right hand corner.</li>

        <li> Click on “Search Flights”, for cheapest flight options.</li>
    </ul>
    <p><strong>(Student, Companion offers & Group bookings, available on request by e-mail to cs@cheaptickets24.com.)</strong></p>
    
    
    <h2>Step 2: Flight Search Page</h2>
    
    <ul>
        <li> Select from the available Flight options.</li>

        <li> Option to Modify Search by Price, With or Without Stops, Airline, Timing or Date.</li>

        <li> “Book” the selected options.</li>
    </ul>
    
    <h2>Step 3: Contact Details</h2>
    
    <ul>
        <li> Enter “Correct” e-mail, Mobile No. to receive e-ticket with details on SMS.</li>

        <li> Use “PROMO CODE”, if available, for additional special offers.</li>

        <li> Click to “Continue”.</li>
    </ul>
    
    <h2>Step 4: Passenger Details</h2>
    
    <ul>
        <li> Passenger names must be same as on the Passport or Photo ID.</li>

        <li> Travel not permitted with incorrect names (check spelling).</li>

        <li> For Long names, provide only first, Middle & last name (no initials).</li>

        <li> For Child / Infant discount, enter date of birth (DOB).</li>

        <li> Advise passport details, if available.</li>

        <li> Click “Continue” Tab to book the chosen options selected.</li>
    </ul>
    
    <h2>Step 5: Payment Options</h2>
    <p>Select from the Payment Options, and provide details, to seamlessly make all International & Domestic Credit – Debit Cards by Master, VISA, AMEX, RuPay or by Online Net banking. All transactions are encrypted 3D Secured and SSL Certified.</p>
    <ul>
        <li> Click the “Continue” to issue tickets.</li>

    </ul>
    
    <h2>Step 6: Special Service Request</h2>
    <p><strong>For Special Services, after ticketing, e-mail our customer support cs@cheaptickets24.com 24X7:</strong></p>
    <ul>
        <li> Seat Request, Meal Request, Wheel Chair, Frequent Flyer Programme, Re-booking, Cancellations & Refunds, VISA information, Travel Insurance and Pets booking.</li>
        <li> VISA Information & application forms, may also be requested by e-mail.</li>
    </ul>
    
    
</div>
</div>

