<div class="spacer-large">
<h2 class="cmsTitle">Privacy Policy</h2> 

<div class="well span12 cmsContent">
    <p>Cheaptickets24.com, Online Travel Portals owned, maintained and promoted by Airtickets Online Limited Malta, in-corporated in India, offering Online Travel services, herein referred to as ‘Content’. The customers & users can access ‘Content’, browse and use this Travel Portal, subject to their accepting, without restriction, the Terms of Service & the Disclaimer. The access to the ‘Content’ therein, or content of the sub-Sites, or Travel Portal & websites of its 'associate' through this Company’s Travel Portal, are governed by the Terms & Conditions, Terms of Services, Disclaimer of websites or sub-Site. The www.cheaptickets24.com website, and the ‘Content’ including those of the ‘Content Partners’ and ‘Affiliates’ herein, constitute the entire ‘Agreement’ between Company, and the users of this website.</p>
    
    <h2>OWNERSHIP:</h2>
    <ul>
        <li> The ‘Content’ may not be used for by anyone for any commercial use.</li>

    <li> All content, including audio, images, software, text, icons and such like (the "Content"), are copyright and protected under international conventions and copyright laws.</li>

    <li> The proprietary logo’s, service marks and trademarks found on this Site whether owned or used by Company cannot be displayed or utilized by any third party.</li>

    <li> Any unauthorized use of the Content violates copyright laws, trademark laws, and laws of privacy and publicity.</li>

    <li> The users agree to follow Terms of Services, all instructions, provided on this Site. Sub-Sites.</li>
    </ul>
    
    <h2>GENERAL CONDITIONS:</h2>
    <ul>
        <li> Promotion and sale of travel to any destinations, the company cannot be held responsible for any risk thereof, and does not accept liability for damages, losses, or delays, that may result from improper, incomplete documents for entry, exit, and length of stay, during transit countries and to the destinations.</li>

<li> Any bookings made with incorrect information such as Name as on Passport, travel dates or without complying Passport & VISA regulation (as per Terms of Service), any loss arising thereof, such as Cancellation charges, Re-booking fees, or Airline Penalties, will be sole responsibility of the customer.</li>

<li> Travel to the destinations which involve risks, entirely at your cost and consequences.</li>

<li> Company has exclusive right, & has discretion to alter, limit or discontinue the Site or any material posted herein. Company has no obligation to take the needs of any User, or any consideration in this connection.</li>

<li> Company reserves the right to take all necessary steps for security, safety and integrity of Company's systems, as well as its users interests remain protected.</li>

<li> Use of this website, accepting any changes including any Fare changes due to dynamic pricing by the airlines, exchange rates, non-availability of seats and shall not dispute the same.</li>

<li> Company may add, change, discontinue, remove or suspend any other Content posted on this Site, including features and specifications of products on the Site, temporarily or permanently, at any time, without notice and without any liability.</li>

<li> Company has right to deny at its discretion, access to the website or any portion hereof without explanation.</li>

<li> It is expected that the traveler consult, local authorities for travel prohibitions, warnings, announcements, and advisories issued, before booking travel to Domestic & International destinations.</li>

<li> Making unauthorized links to the website or interfering, with the functioning of foreign data is a criminal offence.</li>

<li> The Company has the right to delete, changes, modify or add content, without explanation.</li>

<li> The user agrees that he/she at least 18 years old.</li>

<li> By posting or uploading any material on the Website, the company has the full authority to use the same without any permission or consent and the material will not be considered to be confidential or proprietors.</li>

<li> Use of your name is permitted alongside the content, and the company may choose to use the same at its discretion.</li>

<li> You have permit of its associate to use the data posted free of charge worldwide in any form and manner, the company deals fit.</li>

<li> We do not edit or control the content displayed by the users on the Website and cannot be held reliable for the same. The user violating the above restrictions for uploading any content will personally, liable for any consequences thereof.</li>

<li> The Company have the right to modify or change the terms of use for regulatory, legal, technical or any other reason with future effect on the Website.</li>
    </ul>
    
    <h2>CHEAPTICKETS24 RIGHTS:</h2>
    <ul>
        <li> Any data or material submitted to this Site may have been copied, posted, adopted, modified, performed, sold, transmitted or used by Company anywhere in the world, in any form.</li>

        <li> Any use of such material by the company does not violates, your rights including rights of moral, privacy, proprietary, property, publicity, rights, which may be used by the company appropriately and will not need any approval from the sender.</li>

        <li> Any communications or materials or data sent to the site or the company, by electronic mail or otherwise, including will be treated by Company, as non-confidential and may be used at its discretion.</li>
    </ul>
    
    <h2>SITE CONTENTS:</h2>
    <ul>
        <li> The Site content is for use and not for distributes exchange, modify, sell or transmit, or copy anything from this Site, including any text, images, audio and video, for any use.</li>

<li> This consumer site is for consumer only and not for use by any travel agent/tour operator/consolidator/aggregator, for individual/group bookings. In the event of bookings by any travel agent/tour operator/consolidator/aggregator through the Site is detected, the Company reserves the right, to cancel such bookings immediately without any notice to the users and withhold payments.</li>

<li> Company permits non-exclusive, non-transferable, limited right and prohibits any attempt to disrupt or interfere with a website.</li>

<li> The various discounts and offers mentioned on the Site are applicable to the Consumer for the use by our direct online customers only and not any employees or any travel companies.</li>
    </ul>
    
    <h2>THIRD-PARTY LINKS:</h2>
    <ul>
        <li> Hyperlinks to any websites does not imply any endorsement to the content or commercial dealing of those websites and any business with third party Sites linked to this Site, is done so is customers own risk.</li>

        <li> Any links to websites operated by other allied partners, the company shall not be responsible for their contents.</li>
    </ul>
    
    <h2>DISPUTES:</h2>
    <ul>
        <li> Any arbitration proceedings shall be governed in accordance with the Arbitration and Conciliation Act, 1996 and any modification.</li>

        <li> These terms and conditions are governed as per the laws of the Republic of India and any dispute shall exclusively be subject to the jurisdiction of the appropriate Courts situated at Delhi, India.</li>

        <li> If any dispute between you and Company, in connection with and arising from your use or attempt to use this Site shall be referred to arbitration. Both parties shall agree to a sole arbitrator. The place of arbitration shall be Delhi. The arbitration proceedings shall be in the English language.</li>
    </ul>
    
    <h2>Liability for Flight Booking:</h2>
    <ul>
        <li> Company will not be liable for any direct, indirect loss, damage, cost or expense of any kind caused, due to any reason, including flight delays, cancellation, disruption or any cost or losses incurred by the passenger while traveling.</li>

        <li> Customer must check the name, flight details, departure & arrival times, and mobile no. on the ticket within the issuing date and advise any error, failing which even in case of errors, the cancellation & refunds, service fees will apply.</li>

        <li> Cheaptickets24.com is a facilitation platform providing easy, convenient access to reservations and online ticketing for and on behalf of the airlines and are not responsible of the service provider.</li>

        <li> Cheaptickets24.com will not be responsible for any airlines delay or defaults or may not authorize refunds of the tickets.</li>

        <li> Cheaptickets24.com cannot be held responsible for any loss of baggage or valuables on any airlines services. In the event of any airlines discontinues its operations, Cheaptickets24.com will not be responsible and accountable for any customer refunds.</li>

        <li> Company does not guarantee the functions contained in this Site, shall be error free.</li>

        <li> For any acts or deeds of the passenger, Cheaptickets24.com, will not be held responsible for any losses or actions by any authority with the passenger.</li>
    </ul>
    
     <h2>Privacy Policy:</h2>
    <ul>
        <li> Company will not be liable for any direct, indirect loss, damage, cost or expense of any kind whatsoever caused from out of your usage of this Site.</li>

        <li> Company have the right to make changes/modifications or improvements on the Site at any time.</li>

        <li> Defects, if any will be corrected, and made available as soon as possible.</li>

        <li> Company does not guarantee of the result on the Site in terms of their correctness, accuracy, reliability, or otherwise, for the information and data derived from service providers such as airlines, hotel owners and tour operators and service agents.</li>

        <li> Company disclaims all warranties of fitness for any purpose.</li>

        <li> Company does not guarantee that the functions contained in this Site will be error free.</li>
    </ul>
</div>
</div>


