<div class="spacer-large">
<h2 class="cmsTitle">Payments</h2> 

<div class="well span12 cmsContent">
    <p>Cheaptickets24.com, the Online Travel Portal offers the Lowest & Cheapest International, Domestic & Low Cost Airline Tickets with the state of the art seamless technology for flight bookings, payment gateways for all Credit – Debit Cards 3D Secured & Net banking, with all transactions, SSL encrypted for protection of data & fraud detection. Payment gateways integrated with the leading payment gateways of over 80 leading banks.</p>

    <h2>Online Payments:</h2>
    <ul>
        <li> Payment are made seamlessly on our online payment gateways, for Credit- Debit Card 3D Secured or Net banking with data encrypted and SSL Certified.</li>

        <li> Air fares shown can be paid in many Currencies, equivalent to Indian Rupees.</li>

        <li> Customers will be responsible for charges or exchange rates by their bank.</li>

        <li> EMI Payment Options available, for “Fly Now – Pay Later” as per Bank’s terms & conditions.</li>
    </ul>
    <p>Payment options are available for all International & Domestic Credit – Debit Cards by Master, VISA, AMEX, RuPay or by Online Net banking.</p>
    <h2>We accept</h2>
    <ul>
        <li> Master- Visa credit and Debit card.</li>
        <li> American Express</li>
        <li> On-line Bank Transfer.</li>
        <li> Net banking</li>
        <li> RUPAY</li>
        <li> Dinors Club</li>
        <li> IMPS - Bank Transfer</li>
    </ul>
    
    <h2>Our Payment Gateways:</h2>
    <p><img src="../../../themes/B2C/dev/img/payment-logo.png" alt="payment gateway"></p>
    <h2>Our Bankers:</h2>
   <p><img src="../../../themes/B2C/dev/img/bankers-logo.jpg" alt="Bankers"></p>
</div>
</div>
