<ul>
    <li>Use the Reference Number for all correspondence with us.</li>
    <li>Use Airline PNR and or Ticket No. along with Mobile No. to cancel or change bookings directly with the Airline.</li>
    <li> For any cancellation or changes between 10AM to 8PM  on working days, please call us.</li>
    <li> Use our Cart Reference Number and PNR  for all communication with us.</li>
    <li> Carry a print of this e-ticket for airline check-in.</li>
    <li> Carry a photo identification/Passport for checking-in.</li>
    <li> Please ensure you have a valid Visas and documentation to the destination.</li>
    <li> Meal Request, Seat Request, Special Request or Frequent Flier are not guaranteed.</li>
</ul>