<div class="spacer-large">
    
    <h2 class="cmsTitle">Flight Changes</h2>

    <div class="well span12 cmsContent">
       <p>On CheapTicket.in, the Online B2C Travel Portal, customers can request for Flight & Reservation changes, Re-booking, Cancellations & Refunds of the booked Tickets, by e-mail to cs@cheapticket.in or on “Contact Us” link & provide details on the “Flight Changes” Tab. </p>
			   <h2>Step 1: Flight Booking Change </h2>
			   <ul>
			   <li>Click on our “Contact Us” Page.</li>
			   <li>Click on “Flight Booking” Tab.</li>
			   <li>Enter “Customer Full name, E-mail, Mob No. & Country”. </li>
			   <li>Enter “Air Cart No.” which is mention on the e—ticket.  </li>
			   <li>Or Enter “PNR No.” on the E-ticket. </li>
			   <li>Select “Journey Type” – International or Domestic.</li>
			   <li>Select “The Services Required”. </li>
			   <li>Select the “Mode of Payment”.</li>
			   <li>In the “Services Box”, advice details of the services required.<br/>
					(In case, of more than one passenger in the same booking reference/PNR, specify names).</li>
			   <li>Upload & or Attach document such as E-ticket, or Supporting Documents.</li>
			   <li>“Submit Query”. </li>
			   <li>Call our Call Center +91-120-4887777 for charges & fees’, & confirm your request.</li>
				
			</ul>
	
			<h2>Conditions:</h2>
			<ul>
			<li>Any changes must be done by E-mail & followed with a Call to Customer Support +91-120-4887777.</li>
			<li>Bookings can be changed, re-routed or refunded as per airlines rules, charges & service fee.</li>
			<li>For Departures within 06 hours & for 24 hours for International must be done directly with the airlines or at the airport. </li>
			<li>Booking change requests by SMS, WhatsApp or any other media are not accepted.</li>
			<li>If 'Web/Tele Check-in' has been done, the booking must be changed or cancelled directly with the airlines at the Airport & they cannot be done by Cheapticket.in </li>
			<li>Bookings not cancelled 24 hours before flight time, may be treated as “NO SHOW” by Airlines, & charges apply.</li>
			<li>Charges for Flight changes, re-booking, name change, by airline & our Service Fee’s, apply.</li>
			<li>For Changes, Rebooking fee, difference of fares, taxes and our bank & service charges, apply.</li>
			<li>Charges are collected, after your confirmation & before any changes are made.</li>
			<li>For Flight cancellation or Re-schedule, the airlines are responsible & may provide alternate flights.</li>
			<li>No refund applicable, after the expiry of the ticket validity.</li>
			<li>Once the ticket are issued, all cancellation, refund and service fees apply.</li>
			<li>Any Unutilized or 'No Show' Tickets, for any reasons, full cancellation & charges apply.</li>
			<li>Any loss, due to noncompliance of VISA for transit & destination, will be the customers’ responsibility & CheapTicket.in will not be responsible.</li>
			<li>For Partially Used ticket Refund, airlines Cancellation, Refund, Penalty, Rules with banks & Service fees apply.</li>
			<li>In case, offloading by the Airline for documentation, or any other reason, Cancellation charges apply.</li>
			</ul>
		</div>
</div>