<div class="spacer-large">
<h2 class="cmsTitle">IATA Authorized Agent</h2> 

<div class="well span12 cmsContent">
    <p>Cheapticket.in is an online B2C travel portal of Airtickets India (P) Ltd., an IATA approved Online Travel service provider, offering B2C Travel solution. The Portal assures safety and reliability of all transactions, which are SSL certified, encrypted and for Payment 3D Secure at www.cheapticket.in . The cheapest travel experience is awaiting with a few clicks on www.cheapticket.in at all distance.</p>

<p>The growth of the aviation industry is exponential and is governed by regulatory authority International Air Transport Association, to help the travel industry to service millions of passengers every year. The biggest reason behind this scenario is the increasing number of LCC's (Low Cost Carriers) that offer cheap flight tickets and the increasing online ticket booking facilities that save time and effort.</p>

<p>Airtickets India (P) Ltd, an IATA accredited travel company and also affiliated to Travel Organization, TAAI, TAFI, PATA, ASTA, UFTAA, IATO & are recognised by Department of Tourism, Government of India, the company co-operate with several on-line travel companies in India and Abroad and also offers them, the cheapest available flight tickets with International and Domestic carriers including the low cost airlines.</p>

<p>As an IATA recognise agency, the customer is assured of safe, secure, reliable and economical travel solution to the online to customers worldwide.</p>

<p>The online ticket booking facility provided by cheapticket.in is highly advanced and up to date, being integrated with IATA's billing and settlement plan. These booking procedures follow the guidelines and standards set by IATA, thereby ensuring a safe and comfortable travel to its users. Special discounts are provided for advance bookings. The placement of the IATA logo in our website, cheapticket.in provides credibility to the passengers who book their flight tickets with them.</p>

<center><strong><em>“With a few clicks cheapest travel experience awaits you at www.cheapticket.in to all destination”</em></strong></center>
</div>
</div>
