<div class="spacer-large">
    
    <h2 class="cmsTitle">Sitemap</h2>

    <div class="ui grid cmsContent" style='min-width:850px;'>
        <p style='visibility:hidden; margin:0; padding:0; font-size:0!important;'>Cheapticket.in, the Online Travel Portal offers the Lowest & Cheapest International, Domestic & Low Cost Airline Tickets with the state</p>
        <!--<img  style="max-width:100%;" src ="../../../themes/B2C/dev/img/under_construction.png">-->
        <div  class="five wide column">
        <ul>
    <li><a class="item" href="/b2c/cms/aboutUs/5" target="_blank">About Us</a> </li> 
    <li><a class="item" href="/b2c/cms/affiliations/23" target="_blank"> Affiliations</a></li> 
    <li><a class="item" href="/b2c/cms/bookingguidelines/20" target="_blank">Booking Guidelines</a>  </li> 
    <li><a class="item" href="/b2c/cms/cheapairlinestickets/9" target="_blank">Cheapticket</a> </li>
    <li><a class="item" href="/b2c/cms/disclaimer/24" target="_blank"> Disclaimer</a> </li>
    <li><a class="item" href="/b2c/cms/domesticflights/13" target="_blank">Domestic Airlines</a> </li>
    </ul>
    
    </div>
        <div  class="five wide column">
        <ul>
            <li><a class="item" href="/b2c/cms/faq/3" target="_blank"> FAQ</a></li>
            <li><a class="item" href="/b2c/cms/onlineflightbooking/11" target="_blank">Flight Booking</a> </li> 
    <li><a class="item" href="/b2c/cms/flightchanges/21" target="_blank">Flight Changes</a></li> 
    <li><a class="item" href="https://cheapticket.in/">Home</a>  </li> 
    <li><a class="item" href="/b2c/cms/iataaccreditedagent/15" target="_blank">IATA Agent</a> </li>
    <li><a class="item" href="/b2c/cms/international/12" target="_blank">International Airlines</a> </li>
    
    </ul>
    
    </div>
        <div  class="five wide column">
        <ul>
    <li><a class="item" href="/b2c/cms/team/17" target="_blank">Our Team</a> </li>
            <li><a class="item" href="/b2c/cms/payment/19" target="_blank">Payment</a> </li> 
    <li><a class="item" href="/b2c/cms/sitemap/22" target="_blank">Sitemap</a></li> 
    <li><a class="item" href="/b2c/cms/termsofservices/2" target="_blank">Terms of Services</a>  </li> 
    <li><a class="item" href="/b2c/cms/traveladvisory/18" target="_blank">Travel Advisory</a> </li>
    <li><a class="item" href="/b2c/cms/visa/14" target="_blank"> Visa</a> </li>
    
    </ul>
    
    </div>
        
      </div>  
</div>
