<div class="spacer-large">
<h2 class="cmsTitle">Cheapticket Team</h2> 

<div class="well span12 cmsContent">
    <p>www.cheapticket.in , the online B2C travel portal of Airtickets India Pvt. Ltd and an IATA Accredited and member of all travel federation including TAAI, TAFI, IATO, PATA, since 1996, Headquarter at Noida, offers highest standard quality reliable honest service, to its customers for over 2 decades, committed to offer the lowest International, Domestic, Cheapest airlines tickets on over 150 airlines. www.cheapticket.in are one of the pioneers offering On-line B2C Travel solutions, with discounted air tickets and best deals on flight tickets. We are one of the leaders and pioneers in the Travel industry.</p>

<p>Our travel experts are dedicated and committed to the ethos of IATA providing highest level of service and integrity, and provide customer satisfaction of the customer choice. Our qualified Traveler counsellors with experience are able to handle FIT, GIT, Students, MICE, Immigrant, Children’s, Infants, un accompanied minors and transportation of pets with the passenger. Our company negotiates the best fares with the airlines to provide the cheapest and lowest air fares.</p>

<p>Our specialised team of travel consultants are ever ready to answer all your travel queries by 24X7, with advice on destinations around the world. Our travel consultants have a passion to provide the cheapest affordable air fares for travel worldwide and delivering excellent client service. Cheapticket leads the way offering cheapest flights and an experiences that are unlike any other travel company.</p>

<p>Our directors and promoters are passionate qualified travel professionals bringing over 40 years of experience with the on-line flight booking. www.cheapticket.in is a powered with the state of the art “Internet Booking Engine Technology”, with API from the “Global Distribution System – GDS” and from all Low Cost Airlines. Our technology team provides most competitive air fares with hundreds of options with large savings on the air fares.</p>
<center><strong><em>“Dedicated Travel Professional Service for over 20 Years”</em></strong></center>
</div>
</div>

