<div class="spacer-large">

<h2 class="cmsTitle">Terms Of Services</h2>

<div class="well span12 cmsContent">
    <p>
        Cheapticket.in, the Online Travel Portal offering the Lowest & Cheapest International, Domestic & Low Cost Airline Tickets. The Portal has direct booking availability from Airline Reservation Systems and Low Cost Airlines, with dynamic lowest available fares from the Airlines Inventory, offering Cheapest available fares, which can change without Notice. Cheapticket.in is a facilitator, providing airlines reservations & ticketing, and online payment for Airlines Booking, Ticketing, Re-booking, Baggage Rules, Cancellation & Refunds Rules & Regulations apply. The users can make bookings on the website, as per the Guidelines, and Terms of Services given below:
    </p>
    
    
    <h2>1. Flight Bookings</h2>
    <ul>
                <li>Passenger names must be same as on the Passport - Photo ID.</li>

                <li>For long names, provide only First, Middle & Last name (no initials)</li>

                <li>Travel may not be permitted, with incorrect name, &ticket need to be re-booked with charges.</li>

                <li>Provide Child & Infant date of birth (DOB), for applicable discount.</li>
                <li>	Provide passengers correct MOB No. &E-mail to receive E-ticket, SMS, &flight changes.</li>
                <li>	In case of name correction/change, tickets have to be refunded and re-booked with the new applicable fares. </li>
                <li>	Customer must check the name, flight details, departure & arrival times, and mobile no. on the ticket within the issuing date, failing which, even in case of errors, the cancellation & refunds, service fees will apply.</li>
                
            </ul>
    <center><strong><small>(The bookings &fares shown are dynamic, as such, fares may change, due to non-availability)</small></strong></center>
    
    <h2>2. Online Payments</h2>
    <ul>
                <li>Payment are made seamlessly on our online payment gateways, for Credit- Debit Card 3D Secured or Net banking with data encrypted and SSL Certified.</li>

                <li>Air fares are also shown & can be paid in many Currencies, equivalent to Indian Rupees. </li>

                <li>Customers will be responsible for charges or exchange rates by their bank.</li>
            </ul>
    
     <h2>3. Passport & VISA</h2>
            <ul>
                <li>	Passport must be valid 06 months on the date of departure.</li>
                <li>	Ensure, to have VISA for all Transits & Destination Country & Check validity.</li>
                <li>	Carry printed e-ticket with Passport – ID for entry to Airports & Travel </li>
                <li>	VISA is customer responsibility & all losses thereof will be the customers’ responsibility.</li>
                <li>	Airlines have the right to deny travel for any security or Immigration, VISA or Profile reasons.</li>

            </ul>
    
     <h2>4. Flight Changes & Re-Booking</h2>
            <ul>
             <li>	Bookings changes must be done by E-mailing & Calling, customer support 24X7, cs@cheapticket.in or +91-120-4887777.</li>
            <li>	Bookings can be changed, re-routed, if permitted as per airlines rules & charges.</li>
            <li>	For any changes, or re-booking, name change, airline charges and our Service Fee’s, apply.</li>
            <li>	For Changes, Rebooking fee, difference of fares, taxes, bank and service charges, apply.</li>
            <li>        Charges are collected at the time of making changes.</li>
            <li>	Within 12 hours of departure, flight changes, Rebooking or cancellation must be made directly with the airlines or airport and request for Ref. no.</li>
            <li>	In case Flight cancellation or Re-schedule, the airlines are responsible for alternate and any costs. </li>
            <li>	Booking change requests by SMS, WhatsApp or any other media are not accepted. </li>
            <li>	In case of any “NO SHOW” or missing the flights, airlines re-booking, if permitted, fare difference and service charges apply.</li>
            <li>	In case of ‘Web or Tele Check-in' done, changes can only be done by the airlines and the ticket is treated as “ NO-SHOW” </li>
            <li>	In case of name correction/change, tickets have to be refunded and re-booked with the new applicable fares.</li>

            </ul>
     
     <h2>5. Cancellation & Refunds</h2>
            <ul>
            <li>	Ensure Cancelling bookings before departure, for any Refunds by calling customer support or e-mail.</li>
            <li>	Cancellation & Refunds request must be sent only to E-mail <strong>cs@cheapticket.in</strong>.</li>
            <li>	In case of 'Web/Tele Check-in' has been done, booking must be cancelled with the airline Airport or Call center, as these bookings are blocked and cancellation cannot be done by us. </li>
            <li>	Bookings not cancelledare treated as “NO SHOW” & airlines Refund rules apply.</li>
            <li>	For any Natural disaster or cancellation of flight, CheapTicket.in will not be responsible for any compensation or refund. Contact airlines directly.</li>
            <li>	Any loss, due to noncompliance of VISA transit & destination regulation, will be the customers’ responsibility & CheapTicket.in will not be responsible for any loss of cancellation charges.</li>
            <li>	Refunds, if permitted,can be processed only by Cheapticket.in.</li>
            <li>	For cancellations made with the Airline, advise airlines staff & Ref. no. for any refund. </li>
            <li>	Minimum 7 days or more required for Refunds. </li>
            <li>	Refunds are subject to airlines cancellation, refund, no-show, penalty rules & Service Fees.</li>
            <li>	For Refunds, service fee, bank charges &amp; marketing fee apply.</li>
            <li>	Refund can be paid to the original Credit – Debit Card holder or Remitter. </li>
            <li>	For Partially Used ticket Refund, airlines Cancellation, Refund, Penalty, Rules with banks & Service fees apply.</li>
            <li>	Any discount, rebates or Promos are deducted are re-called including bank charges.</li>
            <li>	Customer may be required to provide document, if required by the airlines.  </li>
            <li>	Meal, priority seat or special services charges are Non-Refundable. </li>
            <li>	Part Refunds are subject to approval and confirmation by the airlines.</li>
            <li>	In case of Medical or Death of passenger or immediate family member, refunds are subject to airline rules and their discretion for approval.</li>
            <li>	Airlines may allow refund of taxes for some Non-Refundabletickets, after deduction of the airlines fees, Bank charges & service fee’s.</li>
            <li>	No refund would be applicable/payable after the expiry of the ticket validity.</li>
            </ul>
     
     <h2>6. Unutilized Travel Booking</h2>
     <ul>
         <li>	Once, ticket issued, all cancellation, refund and service fee’s apply as above.</li>
         <li>	Any Unutilized or 'No Show' Tickets for any reasons, full cancellation & charges apply.</li>

     </ul>
     
     <h2>7. Promotion Codes</h2>
     <ul>
         <li>	Promo code can only be used for online bookings & not for bookings by e-mail or phone. </li>
<li>	Promo codes cannot be used with other promotional offers & users can avail one offer at a time.</li>
<li>	Promo codes can be used only once a day by one user.</li>
<li>	Promo codes available at the time of on-line bookings only and cannot be claimed, thereafter.</li>


     </ul>
     
     <h2>8. Special Service Request</h2>
     <p>Services may be requested in advance, after ticketing by e-mail to cs@cheapticket.in
for following services:
</p>
     <ul>
         <li>	Seat Request, Meal Request, Wheel Chair, Baby food, Special meals, Pets booking.</li>
<li>	Inco-operation for Frequent Flyer Programme.</li>
<li>	Travel Insurance.</li>
<li>	VISA Information & application forms, may also be requested by e-mail.</li>


     </ul>

<h2>9. Disclaimer</h2>
     <ul>
         <li>	Company will not be liable for any direct, indirect loss, damage, cost or expense of any kind caused, due to any reason, including flight delays, cancellation, disruption or any cost or losses incurred by the passenger while traveling. </li>
<li>	Customer must check the name, flight details, departure & arrival times, and mobile no. on the ticket within the issuing date and advise any error, failing which even in case of errors, the cancellation & refunds, service fees will apply.</li>
<li>	Cheapticket.in is a facilitation platform providing easy, convenient access to reservations and online ticketing for and on behalf of the airlines and are not responsible of the service provider.</li>
<li>	Cheapticket.in will not be responsible for any airlines delay or defaults or may not authorize refunds of the tickets.</li>
<li>	Cheaptickets.in cannot be held responsible for any loss of baggage or valuables on any airlines services. In the event of any airlines discontinues its operations, Cheapticket.in will not be responsible and accountable for any customer refunds.</li>
<li>	Company does not guarantee the functions contained in this Site, shall be error free.</li>
<li>	For any acts or deeds of the passenger, Cheapticket.in, will not be held responsible for any losses or actions by any authority with the passenger.</li>


     </ul>
     
     
</div>
</div>