<div class="spacer-large">
<h2 class="cmsTitle">Visa</h2> 

<div class="well span12 cmsContent">
    <h2>Travel Documents & Visa</h2>
    <p>Cheapticket.in, the B2C Online Travel Portal offers the cheapest, International air tickets to all destinations on over 170 airlines worldwide, on full service carriers and low cost airlines. Most countries require VISA to be obtained before entering the Country or they may allow Visa or entry on arrival.</p>

    <p>All countries have different Visa and documentation requirements. VISA are granted on merits at the description of each country, depending on the purpose of the visit.</p>
    
    <h2>Passport</h2>
    <p>To travel abroad, it is mandatory to have a valid passport to identify, the person, person’s details, and nationality and allow, to enter another country.</p>
    <ul>
        <li>Passport must be valid for minimum 180 days from the date of outbound travel.</li>

        <li> Passport must not be mutilated.</li>

        <li> Must have sufficient pages for VISA & Immigration endorsement.</li>

        <li> Hand written passports are no longer valid for travel.</li>
    </ul>
    
    
    <h2>Visa</h2>
    <p>
        VISA endorsement (permission to enter) on passport, allows people access to that country, granting the visa for a specific duration stay and specify the reason for the visit. VISA’s for most countries must n=be obtain before traveling, unless Visa on arrival, is permitted.
    </p>
    <ul>
        <li> Check VISA regulations of destination and transit countries.</li>

        <li>Check validity of your VISA.</li>

        <li>In case of Special travel permit, check with visiting country.</li>

        <li>Ensure VISA and its validity for all Transit and destinations countries.</li>

        <li>You may require Ticket, Invitation, and Travel & Medical Insurance.</li>

        <li> Financial proof of support.</li>

        <li> Some countries require certain vaccination to enter or exit, please check rules.</li>

        <li> Embassy or their VFS service, may ask for any documentation, and have the right to reject any application without explanations.</li>
    </ul>
    
    <h2>VISA Categories</h2>
    <p>
        Different categories of Visa’s are available i.e.: Business, Tourist, Employment, Student, Medical, Entry Visa, and Immigration & Transit Visa. VISA rules may be obtained are available on the website of the embassies of different countries or from the countries, VISA facilitation service <a href="http://www.vfsglobal.com">www.vfsglobal.com.</a>
    </p>
    
    <h2>Travel & Medical Insurance</h2>
    
    <p>The travel insurance is mandatory by most countries and is recommended to protect you from medical, baggage, flight delays losses. Obtain Travel & Medical insurance, for the duration of your travel, for your destination or transit country including for transit countries, to avoid any high cost of medical treatment in foreign country.</p>
    <iframe style="border:none;" width="960" height="600" src="http://visa.worldvisaguide.in/user/cheapticket_index.aspx"></iframe>
    
</div>
</div>
