<div class="results-filter">


    <!-- <div class="ui basic segment with-buttons">
 {{#if !meta.user }}
 <button type="button" class="ui blue fluid button" on-click="signin()">Sign In</button><br>
 {{/if}}

</div>-->

    <div class="ui basic segment with-buttons">
        <button type="button" class="ui blue fluid button" on-click="modifySearch()">Modify Search</button>
    </div>

    <div class="ui styled fluid accordion">
        <div class="title {{#if pending }}disabled{{else}}active{{/if}}">
            <i class="dropdown icon"></i>
            Price
        </div>
        <div class="content {{#if pending }}disabled{{else}}active{{/if}}">
            <p>
                <input type="hidden" class="price slider">
            </p>
            <!--
            <p>
                <label><input type="checkbox" checked="{{filter.filtered.refundable}}"> Show only refundable fares</label>
            </p>
            -->
        </div>
        <div class="title {{#if pending }}disabled{{else}}active{{/if}}">
            <i class="dropdown icon"></i>
            Stops
        </div>
        <div class="content {{#if pending }}disabled{{else}}active{{/if}}">
            <p>
                {{#each filter.stops}}
                <label style="width:100%;height:10px;">
                    <ul class="ul_filter">
                        <li class="filter_cb">
                            <input type="checkbox" name="{{filter.filtered.stops}}" value="{{.}}"/>
                        </li>
                        <li class="filter_cb_name">
                            <span title="{{name}}">&nbsp;&nbsp;&nbsp;{{#if 0 == .}}Non-stop{{else}}{{.}} stop(s){{/if}}</span>
                        </li>
                    </ul>
                </label>
                {{/each}}
            </p>
        </div>
        <div class="title {{#if pending }}disabled{{else}}active{{/if}}">
            <i class="dropdown icon"></i>
            Airlines <!--{{#unless !results.filter }}<div class="small pull right"><a on-click="carriers(event, true)">All</a> | <a on-click="carriers(event, false)">None</a></div>{{/unless}}-->
            <div class="carriersLink small pull right"><a on-click="carriers(event, true)">All |</a> <a on-click="carriers(event, false)">None</a></div>
        </div>
        <div class="content {{#if pending }}disabled{{else}}active{{/if}}">
            <p>
                {{#each filter.carriers}}
                <label style="width:100%;height:10px;">
                    <ul class="ul_filter">
                        <li class="filter_cb">
                            <input  type="checkbox" id="cb_carrier" name="{{filter.filtered.carriers}}" value="{{code}}"/>
                        </li>
                        <li class="filter_cb_name">
                            <span title="{{name}}">&nbsp;&nbsp;&nbsp;{{name}}</span>
                        </li>
                        <li class="carrier_only">
                            <a on-click="carriers(event, false)">Only</a>
                        </li>
                        {{#if filter.domestic == 1 && (filter.tripType == 2 || filter.tripType == 3)}}
                            <!--<li class="carrier_price"> {{{ $(domesticRoundtripPrices[code], meta.display_currency) }}}</li>-->
							 <li class="carrier_price"> {{{ $(price, meta.display_currency) }}}</li>
                        {{else}}
                            <li class="carrier_price"> {{{ $(price, meta.display_currency) }}}</li>
                        {{/if}}
                    </ul>
                </label>
                {{/each}}
            </p>
        </div>

        {{#if 2 == search.tripType }}
        <div class="title {{#if pending }}disabled{{else}}active{{/if}}">
            <i class="dropdown icon"></i>
            Onward Departure Time
        </div>
        <div class="content {{#if pending }}disabled{{else}}active{{/if}}">
            <p>
                <input type="hidden" class="departure slider">
            </p>
        </div>
        <div class="title {{#if pending }}disabled{{else}}active{{/if}}">
            <i class="dropdown icon"></i>
            Onward Arrive Time
        </div>
        <div class="content {{#if pending }}disabled{{else}}active{{/if}}">
            <p>
                <input type="hidden" class="arrive slider">
            </p>
        </div>
        <div class="title {{#if pending }}disabled{{else}}active{{/if}}">
            <i class="dropdown icon"></i>
            Return Departure Time
        </div>
        <div class="content {{#if pending }}disabled{{else}}active{{/if}}">
            <p>
                <input type="hidden" class="backward-departure slider">
            </p>
        </div>
        <div class="title {{#if pending }}disabled{{else}}active{{/if}}">
            <i class="dropdown icon"></i>
            Return Arrive Time
        </div>
        <div class="content {{#if pending }}disabled{{else}}active{{/if}}">
            <p>
                <input type="hidden" class="backward-arrive slider">
            </p>
        </div>
        {{else}}
        <div class="title {{#if pending }}disabled{{else}}active{{/if}}">
            <i class="dropdown icon"></i>
            Departure Time
        </div>
        <div class="content {{#if pending }}disabled{{else}}active{{/if}}">
            <p>
                <input type="hidden" class="departure slider">
            </p>
        </div>
        <div class="title {{#if pending }}disabled{{else}}active{{/if}}">
            <i class="dropdown icon"></i>
            Arrive Time
        </div>
        <div class="content {{#if pending }}disabled{{else}}active{{/if}}">
            <p>
                <input type="hidden" class="arrive slider">
            </p>
        </div>
        {{/if}}

        <div class="title {{#if pending }}disabled{{else}}active{{/if}}">
            <i class="dropdown icon"></i>
            Layover Time
        </div>
        <div class="content {{#if pending }}disabled{{else}}active{{/if}}">
            <p>
                <input type="hidden" class="layover slider">
            </p>
        </div>

    </div>
</div>