<header>
    <div class="ui three column grid">
        <div class="column"><a id="back_btn" class="back_page" href="javascript:;" on-click="back()"><img src="/themes/F2G/img/mobile/arrow_back.png" alt="back"></a></div>
        <div class="column"><a class="logo" href="javascript:;"><img src="/themes/F2G/img/mobile/logo.png" alt="CheapTickets24.com"></a></div>
        <div class="column right aligned"></div>
    </div>
</header>
<div class="currencyWrap">
    <span>Currency: </span>
    <select class="menu transition" on-change="setCurrencyBooking()" style="z-index: 1010;" id="currency1">
        <option value='INR' {{#if booking.currency=="INR"}}selected{{/if}}><i class="inr icon currency"></i> Rupee</option>
        <option value='USD' {{#if booking.currency=="USD"}}selected{{/if}}><i class="usd icon currency"></i> US Dollar</option>
        <option value='EUR' {{#if booking.currency=="EUR"}}selected{{/if}}><i class="eur icon currency"></i> Euro</option>
        <option value='GBP' {{#if booking.currency=="GBP"}}selected{{/if}}><i class="gbp icon currency"></i> UK Pound</option>
        <option value='AUD' {{#if booking.currency=="AUD"}}selected{{/if}}><i class="usd icon currency"></i> Australian Dollar</option>
        <option value='JPY' {{#if booking.currency=="JPY"}}selected{{/if}}><i class="jpy icon currency"></i> Japanese Yen</option>
        <option value='RUB' {{#if booking.currency=="RUB"}}selected{{/if}}><i class="rub icon currency"></i> Russian Ruble</option>
        <option value='AED' {{#if booking.currency=="AED"}}selected{{/if}}><i class="aed icon currency"></i> Dirham</option>
    </select>
</div>
<div class="clear"></div>
<step1 booking="{{booking}}" meta="{{meta}}"></step1>
<step2 booking="{{booking}}" meta="{{meta}}"></step2>
<step3 booking="{{booking}}" meta="{{meta}}"></step3>
<step4 booking="{{booking}}" meta="{{meta}}"></step4>

<div id="popup-container">

</div>