<h1>My Profile</h1>

<form action="javascript:;" class="ui form basic segment flight search" >
    {{#if errors}}    
    <div class="ui error message" style="display:block">
        <p>{{errors}}</p>
    </div>
    {{/if}}
    <div class="ui grid">

        
        <div class="details">
            <!--            <h2>Contact Details</h2>-->
            <table>
                <tr>
                    <td>Name</td>
                    <td>
                        <ui-input  name="name" placeholder="Name"  value="{{profileform.name}}">
                    </td>
                    </tr>
                    <tr>
                        <td>Email Address</td>
                        <td><ui-email name="email" placeholder="E-Mail"  value="{{profileform.email}}"></ui-email>
                    </td>
                    </tr>


                    <tr>
                        <td>Mobile Number</td>
                        <td>
                    <ui-tel  name="mobile" placeholder="Mobile"  value="{{profileform.mobile}}"></ui-tel>
                    </td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>           <ui-input  name="address" placeholder="Address"  value="{{profileform.address}}">
                        </td>                    
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>

                        <ui-select
                            value="{{profileform.countrycode}}"
                            class="fluid transparent"                        
                            placeholder="Country"
                            small='1'
                            search='1'
                            options="{{ formatCountryList(meta.countrylist) }}"
                            >
                        </ui-select>
                        </td>                
                        </tr>
                        <tr>
                            <td>State</td>
                            <td id='divstate'>

                        <ui-select
                            value="{{profileform.statecode}}"
                            class="fluid transparent"                        
                            placeholder="State"
                            search='1'
                            small='1'
                            options="{{ formatStateList(statelist) }}"
                            >
                        </ui-select>
                        </td>                
                        </tr>
                        <tr>
                            <td>City</td>
                            <td id='divcity'>

                        <ui-select
                            value="{{profileform.citycode}}"
                            class="fluid transparent"                        
                            placeholder="City"
                            search='1'
                            small='1'
                            options="{{ formatCityList(citylist) }}"
                            >
                        </ui-select>
                        </td>                
                        </tr>
                        <tr>
                            <td>Pin Code</td>
                            <td>
                        <ui-input  name="pincode" placeholder="Pin Code"  value="{{profileform.pincode}}"></ui-input>
                        </td>
                        </tr>
                        </table>
                        </div>


                        <div class="one column row">
                            <div class="column">                               
                                {{#if myprofile.edit}}
                                <div on-click="edit()" class="ui button massive fluid">Update Profile</div>
                                {{/if}}
                            </div>
                        </div>
                        </div>

                        </form>