<div class="ui container">


<div class="ui fluid search selection dropdown">
  <input name="country" type="hidden">
  <i class="dropdown icon"></i>
  <div class="default text">Help & Faqs</div>
  <div class="menu">
  <div class="item" data-value="af">My Account</div>
  <div class="item" data-value="ax">Flight Booking </div>
  <div class="item" data-value="al">Cancellation</div>
  <div class="item" data-value="dz">Re-Schedule</div>
  <div class="item" data-value="ad">Re-booking</div>
  <div class="item" data-value="ao">Refunds</div>
  <div class="item" data-value="ai">Special Service Request</div>
  <div class="item" data-value="ag">Baggage Rules</div>
  <div class="item" data-value="ar">Payment Options</div>
  <div class="item" data-value="am">Billing & Ticket Delivery</div>
  <div class="item" data-value="aw">Visa</div>
  <div class="item" data-value="au">Travel Insurance</div>
  <div class="item" data-value="at">Vaccination</div>
  <div class="item" data-value="az">Mobile App</div>
  <div class="item" data-value="bs">Customer Care</div>
  <div class="item" data-value="bh">CheapTicket.in Connecting</div>
  <div class="item" data-value="bd">Liability</div>
</div>
</div>

<div class="faq_hadding">
<h2>FAQ - Frequently Asked Questions </h2>
<p>CheapTicket.in, the fastest growing Online Travel Portal, offer the Lowest & Cheapest International, Domestic & Low Cost Airline Tickets. 
FAQ (Frequently Asked Questions) assist the customer with answers to most questions. </p>
</div>



<div class="vertical_tab">
<div class="ui tabular menu" >
  <div class="item active" data-tab="ts-tab1">My Account</div>
  <div class="item" data-tab="ts-tab2">Flight Booking</div>
  <div class="item" data-tab="ts-tab3">Cancellation</div>
  <div class="item" data-tab="ts-tab4">Re-Schedule</div>
  <div class="item" data-tab="ts-tab5">Re-booking</div>
  <div class="item" data-tab="ts-tab6">Refunds</div>
  <div class="item" data-tab="ts-tab7">Special Service Request</div>
  <div class="item" data-tab="ts-tab8">Baggage Rules</div>
  <div class="item" data-tab="ts-tab9">Payment Options</div>
  <!--<div class="item" data-tab="ts-tab10"> Billing & Ticket Delivery </div>-->
  <div class="item" data-tab="ts-tab11">Passport &amp; Visa </div>
  <!--<div class="item" data-tab="ts-tab12">Visa </div>-->
  <div class="item" data-tab="ts-tab13">Travel Insurance</div>
  <div class="item" data-tab="ts-tab14">Vaccination</div>
  <div class="item" data-tab="ts-tab15">Mobile App</div>
  <div class="item" data-tab="ts-tab16">Customer Care</div>
  <div class="item" data-tab="ts-tab17">CheapTicket.in Connecting</div>
  <div class="item" data-tab="ts-tab18">Liability</div>
</div>

<div class="ui tab active" data-tab="ts-tab1">
<h2>Customer’s Account? </h2>
<p>On booking of an Airline ticket, you are automatically provided with the Username & Password for viewing your bookings, Print e-ticket, Check status, to help you save time with the next booking & receive special offers & promotions. Your Profile & Travel details are kept “Secured”. </p>
<h2>Creating an Account? </h2>
<p>. You may create your account to facilitate future bookings and checking your transactions. Sign up for an account from the home page with User name & Password, to help you save time with the next booking & receive special offers & promotions. Your Profile & Travel details are kept “Secured”.</p>
<h2>Delete Existing Account? </h2>
<p>You have the facility to delete your account.</p>
<h2>Reset the Password? </h2>
<p>You can reset your Password from the home page, on “My Account”. Provide User name, i.e. your E-mail add and click to “Forgot Password?” You can reset your new “Password”.  </p>
<h2>View your e-ticket? </h2>
<p>You can view all your travel details on the e-ticket with Registered Mobile No. , E-mail ID, PNR No. / Booking ID.</p>
<h2>Print E-ticket? </h2>
<p>On “My Account” you can view & print your e-ticket.</p>
<h2>Cancellation of bookings? </h2>
<p>From “ My Account” OR “Contact Us” , you can send a request for cancellation of your booking.</p>
<h2>Change & Re-schedule? </h2>
<p>From “ My Account” OR “Contact Us” , you can send a request for re-schedule of your booking. </p>
</div>

<div class="ui tab" data-tab="ts-tab2">
<h2>New Flight Booking?</h2>
<p>
Book your lowest Air fares tickets on Domestic & International Flights, with Multi City options with your travel details, selecting your desired flights, fare options and selecting form of payment. Tickets will be send as e-ticket, to your e-mail and a ticket booking details on e-mail & SMS. 
</p>
<h2>How to book Online Air Ticket through the website?</h2>
<p>
    The Users has the options in our Online B2C travel portal www.cheapticket.in</p>
<ul>
    <li>Select Domestic or International Airlines.</li>
    <li>Select One way – Round Trip – Multi City.</li>
    <li>Select the Origin & Destination City for Domestic and Country for International.</li>
    <li>Enter the Departure travel dates for Oneway or Return.</li>
    <li>Enter no. of Adults, Children or Infants.</li>
    <li>Select the Class of Journey like Economy, Premium Economy, Business or First.</li>
    <li>Book the “Search Flights” Tab, to get the cheapest airfare.</li>
    <li>Select the available flight options.</li>
</ul>
<h2>How to Modified my Booking through your website?</h2>   
<p>On our website, on the left side, you can modify the booking with so many options like Price (Refundable or Non-Refundable), Stops, Airlines or date change, if required. You may also e-mail your request on “Contact Us”.</p>

<h2>How do I fill Passengers details to book the tickets?</h2>
<p>Provide Passenger names, after selection your flight options.</p>
<ul>
    <li>Ensure Entering correct names as on the Passport.</li>
    <li>Travel not permitted with incorrect names (check spelling).</li>
    <li>For Long names, provide only first, Middle & last name (no initials).</li>

</ul>

<h2>How do I get the Child & Infant Discount?</h2>
<p>Advise Date of Birth (DOB) for Child discount under 12 years, Infant under 2 years. </p>

<h2>E-tickets?</h2>
<p>E-ticket is a valid, e-ticket of Airlines, good, for travel on presenting the e-print at the airline Check-in counter for all Domestic & International Travel. The E-ticket copy also required for Entry to the Airport. </p>

<h2>What is PNR (Passenger Numeric Record)?</h2>
<p>PNR (Passenger Numeric Record) is a unique flight booking record for each passenger & booking, created by the CRS (Computerized Reservation System), and is shown on all e-tickets, in the specified area on top of the itinerary / booking. Simultaneously, an Airline PNR is also created, which is shown on the right hand side of the flight booking details, after the arrival time.</p> 
<p>The Airlines PNR numbers are always required by Airlines for any communication with them, or at the time of your Check-in. The CRS PNR NO. Is required, or on your making any enquiry to our ‘Help desk or Contact Us’ for any information or communication.</p>

<h2>Airlines Ticket No.?</h2>
<p>For any communication with the Airlines or with us Ticket No. is required. The Ticket No. consist of 3 digits as Airline Code & after a blank space with 10 digit Ticket No.</p>

<h2>Does Fares remains same?</h2>
<p>The Fares, shown on the website are given from the Airlines inventory and are dynamic, which can change after completing the bookings with details, depending on the Fare or Seat availability.  The Airlines have limited seats on different fares, which change dynamically with demand.</p>

<h2>What is the maximum number of seats that can be booked?</h2>
<p>A maximum of 9 seats can be booked, at one time. If you need to book for more seats, make additional booking. For Groups, kindly send us details on “Contact us” details Form. </p>

<h2>What documents do I need to carry to check-in for my Domestic flight?</h2>
<p>For Domestic Travel, it is mandatory to carry any one photo identification (ID) e.g. Driving License, Aadhar Card, Voter ID, proof along with copy of e-ticket. Boarding Card is issued at the Check-in.</p>

<h2>What documents do I need to carry to check-in for my International flight?</h2>
<p>For International Travel, it is mandatory to carry the e-tickets with valid VISA for all transits points, and destination with a passport valid for minimum 06 months, boarding Card is issued at the Check-in. For some countries, you may need special vaccination certificate.</p>

<h2>How do I get a boarding pass for an e-ticket?</h2>
<p>Boarding Card is issued by the airline at their “Check-in” on your showing your e-ticket or giving reference of your Airline PNR.</p>

<h2>What is the Senior Citizen discount?</h2>
<p>There is “No Discount for Senior Citizens or Elderly or Retired”.</p>

<h2>Is there a Discount for Armed forces or Government officials?</h2>
<p>There is no discount by the Airlines for International Travel, but, for Domestic Contact Airlines.</p>

<h2>Travel of “Unaccompanied Minor” (UMNR) ?</h2>
<p>Children below 5 Years are not permitted as “Unaccompanied Minor” (UMNR), Children above the age of 5 and the below 15, can travel as “Unaccompanied Minor” (UMNR), which treated as special handling for the Child, from the Check-in to the destination, to be picked by unknown authorized person. Some Airlines may apply charges for “UMNR”. </p>

<h2>Can I travel with a incorrect Name or spelling errors?</h2>
<p>No, you cannot travel with in-correct name, due to immigration / Security reasons. As the Airlines have to send the passenger manifest, to the immigration at destination.</p>

</div>



<div class="ui tab" data-tab="ts-tab3">

<h2>Flight Cancellation or Schedule change by Airlines?</h2>
<p>In case, of Flight re-schedule or cancellation of the flight, the airlines are fully responsible for providing alternate flights at the Airport of Departure, for the destination. CheapTicket.in will not be responsible for any costs or compensation to the passenger.  In case, of Refunds, authorized by Airlines, Service Fee applies. </p>


<h2>How can I cancel a flight booking?</h2>
<p>The entire booking can be cancelled as below: </p>
    <ul>
        <li>	Cancellation are possible only 24 hours before departure time.</li>
        <li>	Booking cancelled within 24 hours are treated as a “NO SHOW” with no refund.</li>
        <li>	For Cancellation send e-mail on “CONTACT US FORM” & follow-up with our Call Center 24X7.</li>
        <li>	Airline Fees, & Service charges apply.</li>
        <li>	Applicable Refund are process with a minimum of 3 weeks or more.</li>
        <li>	Cancellation requests by SMS, WhatsApp or any other media are not accepted.</li> 
    </ul>

<h2>What are the Domestic & International airlines cancellation charges?</h2>
<p>Cancellation charges, depends on cancellation date, time, before departure. Airlines Cancellation, Refund, Penalty, Rules with banks & Service fees apply.</p>



<h2>Can I cancel an e-ticket offline?</h2>
<p>Yes, you can by send e-mail cs@cheapticket.in, and follow-up with our Call Center 24X7 on Tel: +91-120-48877777.</p>


<h2>What if I cancel my ticket in the middle of the Journey?</h2>
<p>Most Airlines do not permit Part Refund of the International tickets. In case of Domestic Airlines, Un-used Sectors may be refunded, if the booking have been cancelled in advance, subject to Airlines cancellation & services charges.</p>



</div>


<div class="ui tab" data-tab="ts-tab4">

<h2>Re-schedule by Airlines?</h2>
<p>Flight may be Re-scheduled by the Airlines for any reason. The Airlines provides alternative flights to suits your Travel plan or permits Refunds as per their rules. </p>


<h2>How will I know about Schedule change??</h2>
<p>If you have provide correct Contact details, the Airlines will directly Contact you, for your acceptance of alternate flight. Alternately, the Airlines will inform Cheapticket.in, to advise you the change for your acceptance. </p>



</div>
<div class="ui tab" data-tab="ts-tab5">

<h2>What if I need to change my flight arrangements?</h2>
<p>Booking can be change, on your providing details on “CONTACT US FORM” e-mail, with all details. All changes are subject to Airline Rules & Regulations and their fees and Service Charges. Changes, Cancellation or Re-bookings, may be possible only 24 hours before departure time, subject to Airlines Rules & Charges. For Services within 24 hours of departure time, please send e-mail, and follow-up with our Call Center 24X7 on Tel: +91-120-48877777.</p>


<h2>Name Change / Correction? How can I change it?</h2>
<p>The airline doesn't allow name change or correction on the airline tickets. The tickets have to be cancelled & with new bookings, new ticket has to be issued with applicable fares and cancellation. Re-booking & fees & Service charges. </p>


<h2>Wrong prefix (Mr/Mrs), of passenger's name! How can I change?</h2>
<p>No, you cannot travel with in-correct Prefix (Mr./Mrs/Chd), due to immigration / Security reasons. As the Airlines have to send the passenger manifest, to the immigration at destination. </p>
</div>

    <div class="ui tab" data-tab="ts-tab6">

<h2>How do I get the Refund?</h2>
<p>For Refunds send e-mail on “CONTACT US FORM” & follow-up with our Call Center 24X7.</p>
<ul>
    <li>Refunds, if permitted, can be processed only by Cheapticket.in.</li>
    <li>For cancellations made with the Airline, advise airlines staff & Ref. no. for any refund. </li>
    <li>Minimum 7 days or more required for processing Refunds with the Airlines.</li>
    <li>Refunds are subject to airlines cancellation, refund, no-show, penalty rules & Service Fees.</li>
    <li>Refund are paid only to the original Credit – Debit Card holder or Remitter.</li>
    <li>For Partially Used ticket Refund, if permitted, airlines Cancellation, Refund, Penalty, Rules with banks & Service fees apply.</li>
</ul>
   

<h2>What is “NO-SHOW”?</h2>
<p>There are Two types of No-Show’s for booked flight or ticket. </p>
<ul>
    <li>If a passenger does not Check-in at the Airline’s Airport counter before closing time of the check-in, he is a treated as No-Show. Some Airlines may allow another later flight with charges, and some Airlines may not allow to travel on the ticket.</li>
    <li>Change of flight or Cancellation within 24 hours of the departure, the tickets is considered as a No-Show on some Airlines & their Rules Apply.</li>
</ul>

<h2>Refund in case of Demise of the passenger or a blood relative?</h2>
<p>In case of death of the passenger, full or in part may be considered by the Airlines on production original death certificate by the Hospital & the local authorities, to be applied by the “Next of Kin” of the deceased. Refund may also be permitted by the Airlines for a blood relative of the deceased at the discretion of the Airlines, which can take time.</p>

<h2>Can Taxes, fees’s & Service charge be refunded?</h2>
<p>Airlines taxes may be refunded, if permitted by the Airlines. Other taxes, fees ‘Surcharges, Bank charges, Service fees, cannot be Refunded. Service charges for processing refunds & Credit Card fees are “Non-Refundable & bank charges  apply.</p>    
  
<h2>Unutilized Tickets?</h2>
<p>Any ticket, for which booking has been cancelled before departure, are treated as ‘Unutilized Ticket’, and a passenger can travel subsequently or obtain Refund with Penalties. No Refund possible on Non-Refundable tickets.</p>
    </div>



<div class="ui tab" data-tab="ts-tab7">
<h2>How can I place “Special Service Requests” through CheapTicket.in?</h2>
<p>Special Request for Meal / Seat / Bassinet seats, Wheelchair and or other Airport assistance, are available on request to “CONTACT US FORM” Section “SERVICE”. You may also request directly to the airlines. Some services may be chargeable by the Airlines.</p>

<h3>Seat Assignment Request?</h3>

<h2>How do I confirm my seat assignment?</h2>
<p>CheapTicket.in can pre-booked your seats, depending on availability. Some Airline charge for Seat assignments. You may e-mail us on Contact the Airlines directly. </p>

<h2>How long before flight departure do I need to be at the airport?</h2>
<p>Recommended 02 hours for Domestic Travel & 3 Hours for International Travel. </p>

<h3>Seat Assignment Request?</h3>

<h2>How can I use Frequent Flyer Number?</h2>
<p>For Frequent Flyer & other Airlines Privilege Cards, customers should provide us their Membership No. to enter in the PNR to obtain the Credits. For redemption, contact the Airline directly. </p>

<h3>Wheel Chair Request?</h3>

<h2>Wheel chair (WCHR) assistance to the Handicapped & disabled (Physically challenged)?</h2>
<p>Wheelchair assistance can be provided on request to the airlines, or providing details to us.</p>

<h2>Flight for Physically challenged on Stretcher?</h2>
<p>
In case of Medical emergencies and requiring Air Transportation on Stretcher, can be arranged on flight, as per Airline & tariff, you may contact us or the Airlines.
</p>

<h3>Pets on Flight?</h3>

<h2>Can we Carry Pets on the flight?</h2>
<p>
Yes, you can carry Pet, as per below guidelines::</p>
<ul>
<li>Pets such as dogs, cats and birds, may be allowed to accompany passengers on board up to maximum 5 Kilos, in a water proof carrying bag subject to airlines permission and make booking in advance with the airlines.</li>
<li>Pets over 5 Kilos, may be allowed, on making a reservations with Airlines Cargo department, for transportation in the “Aircraft Luggage / Hold Area” as Cargo, and subject to Cargo customs clearance, health documentations & transported in the approved Airlines cage.</li>
<li>Check country specific requirements for Health and Rabies vaccination certificates & other documentations.</li>
</ul>

</div>

<div class="ui tab" data-tab="ts-tab8">
<h2>What are the baggage fees and allowances for flights?</h2>
<p>Baggage Rules for Checked-in luggage & Hand luggage, depend on the airlines baggage rules, which depend on the Class of Travel, Airlines, and Destination. Baggage allowance varies on different airlines. </p>

<h2>Baggage ‘Mis-handled’ or ‘Lost’ by the Airlines?</h2>
<p>In case of any mis-handled, delayed or loss of Checked-in baggage, the passenger must report to the airlines, before leaving the Arrival hall, and obtain “PIR” Property Irregularity Report from the Airlines Staff on Duty. Cheapticket.in under No Way responsible or liable for any compensation. </p>
</div>


<div class="ui tab" data-tab="ts-tab9">

<h2>What are the Payment options?</h2>
<p>Several Payment options are available i.e. Credit card / Debit card / American Express, RUPAY, Diners Club and IMPS – Bank Transfers/ Net Banking / On-line Bank transfers. EMI Payment option available. </p>


<h2>Credit – Debit Card payment declined?</h2>
<p>
All Credit- Debit Card Payments transaction are 3D Secured, with data encrypted and SSL Certified & may be declined by your Bank, if you have sufficient balance or limit on your card or if your card is currently in-valid, Payment may also decline, due to in-correct Password, Username, CVV, your secret Pin code or delay in entering the OTP. Please try with different card.</p>

<h2>Can I make payments through my mobile?</h2>
<p>Yes, our site is accessible on your mobile, Android, iPhone and Windows. You can make your bookings and complete the transactions including payment on your mobile phone.</p>

<h2>Is my payment secure on CheapTicket.in?</h2>
<p>CheapTicket.in is a VeriSign certified site and data encrypted and SSL Certified for protection of data & fraud detection.</p>

<h2>Can i make travel bookings on CheapTicket.in on EMI?</h2>
<p>EMI Payment Options available, for “Fly Now – Pay Later” as per Bank’s terms & conditions and subject to approval by Credit – Debit Card holder.</p>

<h2>While I was paying by net banking, my ‘session expired’. Say what?</h2>
<p>Your session may have expired, due to security reason, permitted by your bank, or a timeout on an authorization obtained, when you take too long to make the direct debit payment. Refresh the booking and complete the transaction. </p>
</div>


<div class="ui tab" data-tab="ts-tab10">
<h2>How do I get the Ticket?</h2>
<p>E-tickets are sent by e-mail to the e-mail provided on the booking.</p>

<h2>Can I get a Bill / Invoice for the tickets?</h2>
<p>E-tickets are confirmation of the payment. E-Invoice copy available on request.</p>
</div>


<div class="ui tab" data-tab="ts-tab11">
<h2>Passport Validity</h2>
<ul>
<li>Passport must be valid for 180 days from the date of outbound travel & must not be mutilated.</li>
<li>Passport should have sufficient pages for VISA endorsement and Entry / Exit stamp.</li>
<li>Hand written passports are now not valid for travel.</li>
<li>Please ensure your flight booking name is the same as on the Passport.</li>
</ul>

<h2>Do you provide any visa assistance?</h2>
<p>Yes, we do provide visa assistance. For more details on documentation & application forms, please request by e-mail on our “Customer Support” for “Services”.</p>

</div>



<div class="ui tab" data-tab="ts-tab13">
<h2>Do I need Travel Insurance for some Countries?</h2>
<p>Travel insurance is recommended, to avoid high cost of medical treatment in foreign country and to compensate for loss of baggage, flight delays or any calamity. You can obtain Travel & Medical Insurance from us on request. Please send e-mail to our “Customer Support” for “Services”. </p>
</div>


<div class="ui tab" data-tab="ts-tab14">
<h2>Do I need Vaccination for some Countries?</h2>
<p>Some countries in Africa or South America may require vaccination. Please check for regulation on countries website. Information by e-mail on our “Customer Support” for “Services”. </p>
</div>


<div class="ui tab" data-tab="ts-tab15">
<h2>Bookings on Mobile?</h2>
<p>On the Mobile access www.cheapticket.in & book your lowest International & Domestic Flight Bookings with flight options, & a selection of payment with Debit & Credit Card & Net Banking.</p>

<h2>Mobile App?</h2>
<p>Mobile App will be shortly available to the customer, offering Cheapest International & Domestic Airlines Tickets with Online Payments, for Cheapticket.in. </p>
</div>

<div class="ui tab" data-tab="ts-tab16">
<h2>If I need any assistance what should I do? </h2>
<ul>
    <li> Our specialized team of travel consultants are ever ready to answer all your travel queries by 24X7.</li>
<li> You can call us at T: +91.120.4887777, M: +91-9313223646 (all networks), </li>
<li> Write to us <a href="mailto:cs@cheapticket.in " target="_top">cs@cheapticket.in </a> and executive will get back to shortly of your inquiry. </li>
</ul>
</div>


<div class="ui tab" data-tab="ts-tab17">

<h2>What information can I browse for without registering on your site?</h2>
<p>
You can browse the entire site. We prompt you for a login or registration only at the time of bookings.</p>



<h2>What kind of plugins do I require to view the site?  </h2>
<p>
There is no special plugin required for the site, only standard browser (Netscape 4.0 or IE 4.0(preferably 5.0) or above are best.
</p>

<h2>What is the optimal resolution for using the site?</h2>
<p>The site has been designed to work best on 600 X 800 resolution.</p>

</div>



<div class="ui tab" data-tab="ts-tab18">
<h2>Cheapticket.in liability?</h2>
<p>Company will not be liable for any direct, indirect loss, damage, cost or expense of any kind caused, due to any reason, including flight delays, cancellation, disruption or any cost or losses incurred by the passenger while traveling.</p>
<ul>
<li>Customer must check the name, flight details, departure & arrival times, and mobile no. on the ticket within the issuing date and advise any error, failing which even in case of errors, the cancellation & refunds, service fees will apply.</li>
<li>Cheapticket.in is a facilitation platform providing easy, convenient access to reservations and online ticketing for and on behalf of the airlines and are not responsible of the service provider.</li>
<li>Cheapticket.in will not be responsible for any airlines delay or defaults or may not authorize refunds of the tickets</li>
<li>Cheaptickets.in cannot be held responsible for any loss of baggage or valuables on any airlines services. In the event of any airlines discontinues its operations, Cheapticket.in will not be responsible and accountable for any customer refunds.</li>
<li>Company does not guarantee the functions contained in this Site, shall be error free</li>
<li>For any acts or deeds of the passenger, Cheapticket.in, will not be held responsible for any losses or actions by any authority with the passenger. </li>
</ul>

</div>

</div>

</div>