
{{#mybookings.currentCartDetails }}
{{#if !mybookings.print}}
<div class="ui positive  message" style="display: none" >
    <i class="close icon" on-click='closemessage'></i>
    {{#if this.submitting}}
    Sending Email..
    {{else}}
    Email Sent
    {{/if}}
</div>
{{/if}}

<div class="box my-bookings-details {{#if mybookings.pending}} ui segment loading {{/if}}  ">

    {{#if !mybookings.print}}   
    <div class="noprint">
        <h1 style="vertical-align: bottom">
            My Bookings Details
            {{#if upcoming=="true" && meta.user.email==mybookings.currentCartDetails.email}}
            <button on-click='reschedule' class="small ui button orange">Change/Reschedule</button>
            <button on-click='cancel' class="small ui button red">Cancel</button>
            {{/if}}
            <button on-click='back' class="small ui button yellow">Back</button>
        </h1>
        <div class="action">
            

            <a href="#" class="email"  on-click="toggleemail()" {{#if !submitting}} disabled='disabled' {{/if}}>Email</a>
            <a href="/b2c/airCart/asPDF/{{mybookings.currentCartDetails.id}}" target="_blank" class="pdf">Ticket as PDF </a>
            <a  class="ticket" href="/b2c/airCart/mybookings/{{mybookings.currentCartDetails.id}}#print" target="_blank" >Print E-Ticket</a>
            <!--            {{#if meta.user}}
                        <form method="POST" style="float: right; margin-right:5px;margin-bottom:0px;" action="/site/print" target="_blank">
                            <input type="hidden" name="url" value="/airCart/print/{{mybookings.currentCartId}}"> 
                            <input type="hidden" name="filename" value="AirCart_{{mybookings.currentCartId}}.pdf">
                            <i class="ticket icon" style="margin-left: 15px;"></i> 
                            <button class="" type="submit" onclick="$(this).blur();" style="background-color: transparent;border: transparent;display: inline-block; font-size: 12px; color: #3399ff;    text-decoration: none;margin-right: 0px;">E-ticket</button></form>
            
                        {{/if}}-->

            <div class="ui modal small" >
                <i class="close icon"></i>
                <div class="header">
                    Email Ticket
                </div>
                <div class="ui basic segment"> 
                    <form class="ui form {{#if this.submitting}}loading{{/if}}" action="javascript:;"   >
                        <input class="ui input small" type="text" name="email"  id ="email" value=""> 
                        <div class="actions">
                            <button on-click="submit()" class="ui small button">Send</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>


        {{/if}}
       

        <table style="width:95%">      
            <tr>
                <td style="width:45%" colspan="3" >
                    {{{ticketstatusmsg}}}
                </td>
            </tr>
            {{#if mybookings.print}}
            <tr>
                <td style="width:35%">
                    <div ><img src="/themes/B2C/dev/img/logo.png"></div>
                </td>
                <td style="width:35%">
                    <span style="font-size: x-large;font-weight:bold;">E-TICKET</span>
                </td>
                <td style="width:30%">
                    <table style=" text-align: initial;float: right;">
                        <tr><td><b >CheapTicket.in : Customer Support</b></td></tr>
                        <tr><td><b>Email:</b> <a href="mailto:CS@CheapTicket.in">CS@CheapTicket.in</a> </td></tr>
                        <tr><td><b>Phone</b> <a href="tel:0120-4887777">0120-4887777</a></td></tr>
                    </table>
                </td>
            </tr>
              {{/if}}
        </table> 

 
      
        <div class="group {{formatBookingStatusClass(booking_status)}}">
            <div class="table title">
                <div>
                    {{#if isMultiCity=='false'}}
                    
                    {{#if returndate==null}}
                    <span class="direction">{{bookings[0].source}}<span class="to" style="margin-top: 3px;">&nbsp;</span>{{bookings[0].destination}}</span>  
                    {{else}}
                    <span class="direction" >{{bookings[0].source}}<span class="back" style="margin-top: 3px;">&nbsp;</span>{{bookings[0].destination}}</span>
                    {{/if}}
                    
                    {{else}}
                    <span class="direction" >
                        {{#bookings:i}}   
                        {{source}}&nbsp; | &nbsp; 
                        {{/}}
                        {{bookings[bookings.length-1].destination}}
                    </span>
                    {{/if}}
                    <span class="date">{{formatTravelDate(bookings[0].departure)}}</span>
                    <span class="status {{formatBookingStatusClass(booking_status)}}">{{ booking_statusmsg}}</span>
                    <br/>
                    <!--                <span class="date">Total time: <b>2h 10m</b></span>-->
                </div>
                <div>
                    <span class="booking-id">Booking Id: {{id}} </span>
                    <span class="booking-date">{{formatBookingDate(created)}}</span>
                </div>
            </div>
            {{#bookings:j}}
            <div class="item">
                <div class="sixteen wide column " style="height: auto !important;">
                    <div class="ui segment flight-itinerary compact dark">

                        <div class="title">
                            <span class="city">{{ source }} → {{ destination }}</span> {{ formatTravelDate2(departure) }}
                            <span class="time">{{flighttime}}</span>
                        </div>

                        <table class="segments">
                                {{#bookings[j].routes:k}}
                            {{#if k>0}}
                            <tr class="divider">
                                <td><span>&nbsp;</span></td>
                                <td><span>&nbsp;</span></td>
                                <td><span>&nbsp;</span></td>
                                <td>
                                    <span class="layover">Layover: {{diff(bookings[j].routes[k].departure,bookings[j].routes[k-1].arrival)}}</span>
                                </td>
                                <td><span>&nbsp;</span></td>
                            </tr>
                            {{/if}}

                            <tr>
                                <td class="carrier-logo">
                                    <img class="ui top aligned avatar image" src="/img/air_logos/{{carrier}}.png" alt="{{carrierName}}" title="{{carrierName}}">
                                </td>
                                <td class="carrier-name">
                                    {{carrierName}}<br>{{carrier}}-{{flightNumber}}
                                </td>
                                <td class="from" style="text-align: right;">
                                    <b>{{origin}}:</b> {{ formatTravelDate3(departure) }}<br>{{ formatTravelDate(departure) }}<br>
                                    <span style="text-align: right;" class="airport">{{ originDetails}}</span>
                                </td>
                                <td class="flight">&nbsp;</td>
                                <td class="to">
                                    <b>{{destination}}:</b> {{ formatTravelDate3(arrival) }}<br>{{ formatTravelDate(arrival) }}<br>
                                    <span class="airport">{{ destinationDetails}}</span>
                                </td>
                                <td class="time-n-cabin">
                                    <div>{{flighttime}}<br> {{bookings[j].traveller[0].cabin}}</div>
                                </td>
                            </tr>

                            {{/}}
                        </table>

                    </div>
                </div>
                <table class="passenger">

                    <tr>
                        <th>Passenger</th>
                        <th>CRS PNR</th>
                        <th>Air PNR</th>
                        <th>Ticket No.</th>
                    </tr>                
                    {{#bookings[j].traveller:t}}
                    <tr>
                        <td>{{title}} {{first_name}} {{last_name}} ({{type}}) <span class="status {{travellerBookingStatus(status)}}">{{statusmsg}}</span></td>
                        <td><b>{{crs_pnr}}</b></td>
                        <td><b>{{airline_pnr}}</b></td>
                        <td><b>{{ticket}}</b></td>
                    </tr>
                    {{/}}

                </table>
            </div>
            {{/}}
            
            <div class="total" >
                TOTAL PRICE: <span>{{curency}} {{convert(totalAmount)}}</span>
                <div class="taxes">
                    Basic Fare : {{baseprice}} , Taxes : {{taxes}} , Fee : {{fee}}
                </div>
            </div>
            
            
           
            <div class="item">
                <div style="clear: both;"></div>
                <table class="passenger">
                    <tr>
                        <th colspan="2">Terms and Conditions</th>                
                    </tr>
                    <tr>
                        <td >
                            <ul>
                                <li>All flight timings shown are local times.</li>
                                <li>Use <b>Ref No.</b> for communication with us.</li>
                                <li>Use <b>Airline PNR</b> for contacting the Airlines.</li>
                                <li>Carry a print-out of e-ticket for check-in.</li>
                                <li>In case of no-show, tickets are non-refundable.</li>
                                <li>Ensure your passport is valid for more than 6 months.</li>
                                <li>Please check Transit & Destination Visa Requirement.</li>
                                <li>For cancellation, airline charges & ser. fee apply.</li>
                                <li>All payments are charged in INR. If any other currency has been chosen the price in that currency is only indicative.</li>
                                <li>The INR price is the final price.</li>
                            </ul>
                        </td>
                        <td >
                            <ul>
                                <li>Carry a photo ID/ Passport for check-in.</li>
                                <li>Meals, Seat & Special Requests are not guaranteed.</li>
                                <li>Present Frequent Flier Card at check-in.</li>
                                <li>Carriage is subject to Airlines Terms & Conditions.</li>
                                <li>Ensure passenger names are correct, name change is not permitted.</li>
                                <li>For any change Airline charges, difference of fare & ser. fee apply.</li>
                                <li>You might be asked to provide card copy & ID proof of card holder.</li>
                            </ul>
                        </td>  </tr>
                </table>
                <div style="clear: both;"></div>
                <div class="">
                    Disclaimer: CheapTicket is not liable for any deficiency in service by Airline or Service providers.
                </div> 
                
                    
               

            </div>
           {{#if mybookings.print}}
           {{/if}}
        </div>
{{#if !mybookings.print}} 
{{#if mybookings.clientSourceId==4}}

<script type="text/javascript">
window.ixiTransactionTracker = function(tag) {
function updateRedirect(tag, transactionID, pnr, saleValue, segmentNights) {
return "<img style='top:-999999px;left:-999999px;position:absolute' src='https://www.ixigo.com/ixi-api/tracker/updateConversion/" + tag + "?transactionId=" + transactionID + "&pnr=" + pnr + "&saleValue=" + saleValue + "&segmentNights=" + segmentNights + "' />";
}
document.body.innerHTML += updateRedirect(tag, "{{mybookings.currentCartDetails.id}}", "{{mybookings.currentCartDetails.bookings.0.traveller.0.airline_pnr}}", {{convertIxigo(mybookings.currentCartDetails.totalAmount)}}, {{mybookings.currentCartDetails.segNights}} );
};
</script>
<script src="https://www.ixigo.com/ixi-api/tracker/track196" id="tracker"></script>
{{/if}}
{{/if}}


    </div>
    {{/}}
