<div class="group progress">
    <div class="table title">
        <div>
            <span class="direction">New Delhi<span class="to" style="margin-top: 3px;">&nbsp;</span>Mumbai</span>
            <span class="date">Oct 27, 2015</span>
            <span class="status progress">PENDING</span> <br>
        </div>
        <div>
            <span class="booking-id">Booking Id: 678</span>
            <span class="booking-date">Oct 26, 2015</span>
        </div>
    </div>
    <div class="item">
        <div class="sixteen wide column " style="height: auto !important;">
            <div class="ui segment flight-itinerary compact dark">
                <div class="title">
                    <span class="city">New Delhi → Mumbai</span> Tue Oct 27 2015 
                    <span class="time">2h 15m</span>
                </div> 
                <table class="segments">
                    <tr>
                        <td class="carrier-logo">
                            <img class="ui top aligned avatar image" src="/img/air_logos/SG.png" alt="SpiceJet" title="SpiceJet">
                        </td> 
                        <td class="carrier-name">SpiceJet<br>SG-159</td> 
                        <td class="from" style="text-align: right;"><b>DEL:</b> Tue 21:10<br>Oct 27, 2015<br>
                            <span style="text-align: right;" class="airport">Delhi Indira Gandhi Intl, New Delhi (DEL)</span>
                        </td> 
                        <td class="flight">&nbsp;</td> 
                        <td class="to"><b>BOM:</b> Tue 23:25<br>Oct 27, 2015<br> 
                            <span class="airport">Chhatrapati Shivaji, Mumbai (BOM)</span>
                        </td> 
                        <td class="time-n-cabin">
                            <div>2h 15m<br> Economy</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <table class="passenger">
            <tr>
                <th>Passenger</th>
                <th>CRS PNR</th>
                <th>Air PNR</th>
                <th>Ticket No.</th>
            </tr>
            <tr>
                <td>Mr. maya jain (Adult) 
                    <span class="status notconfirm">In Process</span>
                </td>
                <td><b>PENDING</b></td>
                <td><b>PENDING</b></td>
                <td><b></b></td>
            </tr>
        </table>
    </div> 
    <div class="total">TOTAL PRICE: 
        <span>INR 3,586</span> 
        <div class="taxes">Basic Fare : 2,609 , Taxes : 977 , Fee : 0</div>
    </div> 
    <div class="item">
        <div style="clear: both;"></div>
        <table class="passenger">
            <tr>
                <th colspan="2">Terms and Conditions</th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>All flight timings shown are local times.</li>
                        <li>Use <b>Ref No.</b> for communication with us.</li>
                        <li>Use <b>Airline PNR</b> for contacting the Airlines.</li>
                        <li>Carry a print-out of e-ticket for check-in.</li>
                        <li>In case of no-show, tickets are non-refundable.</li>
                        <li>Ensure your passport is valid for more than 6 months.</li>
                        <li>Please check Transit &amp; Destination Visa Requirement.</li>
                        <li>For cancellation, airline charges &amp; ser. fee apply.</li>
                        <li>All payments are charged in INR. If any other currency has been chosen the price in that currency is only indicative.</li> 
                        <li>The INR price is the final price.</li>
                    </ul>
                </td> 
                <td>
                    <ul>
                        <li>Carry a photo ID/ Passport for check-in.</li>
                        <li>Meals, Seat &amp; Special Requests are not guaranteed.</li>
                        <li>Present Frequent Flier Card at check-in.</li>
                        <li>Carriage is subject to Airlines Terms &amp; Conditions.</li>
                        <li>Ensure passenger names are correct, name change is not permitted.</li> 
                        <li>For any change Airline charges, difference of fare &amp; ser. fee apply.</li> 
                        <li>You might be asked to provide card copy &amp; ID proof of card holder.</li>
                    </ul>
                </td>
            </tr>
        </table>
        <div style="clear: both;"></div> 
        <div class="">Disclaimer: CheapTicket is not liable for any deficiency in service by Airline or Service providers.</div>
            
    </div>
</div>