<div class="spacer-large">
<h2 class="cmsTitle">About us</h2>
<div class="cmsContent">
    <p><strong>Airticketsindia.com</strong> an IATA leading Accredited Agency for decades & pioneers in B2C Online Air Travel, Airticketsindia.com offer Domestic & International flights “From India – To India – Within India”. Airticketsindia.com cater to the Indian ethnic community to visiting Family, Friends & Relatives in India & worldwide.</p>
    <p>Booking of Domestic & International Airline tickets is seamless with simple three steps “Look, Book & Fly” “From India – To India – Within India”.</p>
    <p>Airticketsindia.com have many Awards, Rewards & Recognition from many Airlines, Travel Organization & are affiliated to most travel associations. </p>
    <p>Airticketsindia.com, offer discounted Airline Tickets, on all worldwide Airlines, to all Air destinations worldwide. Offering Cheapest Airline Tickets with Great Value for Money, with all secured Payment Options, Quality Travel Experience, Excellent Customer Support, last but not the least Trustworthy reliable service. </p>
    <p>Airticketsindia.com, with its own IBE & technology, has direct contracts & inventory, with almost all International, Domestic & LCC (Lowest Cost Carriers) Airlines, The fares & seats availability directly from the Airlines systems, offering the lowest Airfares on more than 180 Airlines across over 500 International & Domestic cities across India.</p>
    <p>Airticketsindia.com, payment systems are 3D secured with payment gateways, accepting all types of Master, VISA, Debit & Credit Cards, American Express, Diners Club, Corporate Cards & Instant Online Bank Transfers, with instant payment facility from all almost Banks in India & Abroad.</p>
    <p>Our company is well-known among Indian Community, Worldwide and Airticketsindai.com, is most reliable Travel Partner, established in 12th June’1996.</p>
	<center><strong><em>“Your life will fly with special fares offered by www.airticketsindia.com.”</em></strong></center>
    <div style="text-align:center;">
	<img src="../../../themes/ATI/img/about.png" style="max-width:100%;">
</div>
</div>
</div>