<div class="spacer-large">
<h2 class="cmsTitle">Flight Booking Process</h2> 

<div class="well span12 cmsContent">
    <p>
      “Look, Book & Fly” on Airticketsindia.com, the fastest & most friendly website, offering Domestic & International Airline Tickets worldwide “From India – To India – Within India” & “Anywhere to Anywhere” worldwide.
    </p>
    <p>Browse Airticketsindia.com, book Airline tickets and fly! Bookings are Easy in three simple steps “Look, Book & Fly”. </p>
    <p>With the advanced technology, and payment security, ease of payments with bank transfers, all Credit – Debit Cards, & convenient book the cheapest Airline Tickets on www.airticketsindia.com , from a selection of travel options on all International & Domestic airlines. </p>
    <p>Bookings & Payments are made Online & instantly E-Tickets are auto sent by email and SMS. </p>
	<h2>Booking Procedure:</h2>
	<ul>
	<li>
	Enter - <a href="https://airticketsindia.com/b2c/flights" target="_blank" style="color:red">www.airticketsindia.com </a>
	</li>
	<li>Select either Domestic or International Travel, One Way, Return or Multi Sectors.</li>
	<li>Enter Origin , Destination Cities with Dates. </li>
	<li>Next on Offer Page, Select Airline & Flights. </li>
	<li>You may modify search for the desired time option using filter.</li>
	<li>Fare Rules available next to Fare.</li>
	<li>Click "R" or “N”, next of the fare, if tickets Refundable - Non-refundable.</li>
	<li>Next enter Passengers Names with title, mobile number and email as on the Passport.</li>
	<li>Enter Frequent Flyer no. and Meal selection. If available.</li>
	<li>Select type of Credit - Debit Card or Online Payment, 3D secured (SSL) on bank's page. </li>
	<li>E-Tickets issued instantly online and sent by email & information by SMS.</li>
	<li>Print your own e-Tickets.</li>
	</ul>
	<center><strong><em>“Look, Book & Fly – From India – To India – Within India”</em></strong></center>
</div>
</div>

