<div class="spacer-large">
<h2 class="cmsTitle">Make Payment</h2> 

<div class="well span12 cmsContent">
    <p>Airticketsindai.com, implements Online Booking technology, to book B2C Online Airlines tickets on all International & Domestic airlines, with Safe, quick and easy-to-use online booking solution “From India – To India – Within India”.</p>
    <p>It is of primary importance that all the transactions conducting on our Airticketsindia.com, B2C Online Air Travel IBE, are carried out in a safe and secure environment, to ensure safety & satisfaction our customers.</p>
	<p>Our system & payment gateway are with Secured Socket Layer technology by Verisign, the leaders in encryption technology. The Credit – Debit Card & Online Payment details are transmitted in an encrypted form over the internet, enabling security of data. The Encrypted Card details are shared only with our service providers to the extent deemed, absolutely necessary.</p>
	<p>All Debit - Credit Card Payments through our websites are SSL secured and accepts Master/Visa and American Express credit – debit card with 3D secured code & also instant Online Bank to Bank transfer. Nominal transaction may be charged for Credit – Debit Card transactions.</p>
	
    <h3><u>We safely accept:</u></h3>
    <ul style="float:left;">
        <li> Master  & Visa Credit - Debit Card.</li>
        <li> American Express </li>
        <li> Diners Club.</li>
        <li> Net banking</li>
        <li> On-line Bank Transfer</li>
        <li> Money Wallets.</li>
        <li> EMI’s options</li>
		</ul>
    </ul style="float:left;">
	<ul style="padding: 123px 0px 22px 650px;"><p><img src="../../../themes/ATI/img/cards.png" alt="payment gateway"></p></ul>
    <p>The cheapest travel experience is awaiting with a few clicks on Airticketsindia.com at all destinations “From India – To India – Within India”.</p>
    
</div>
</div>
