<div class="spacer-large">
<h2 class="cmsTitle">Privacy Policy – Disclaimer</h2> 

<div class="well span12 cmsContent">
    <p>AirTicketsIndia.com makes every effort to ensure that any materials or rates/cost displayed on this website are accurate at the date of issue. Changes in market conditions or circumstances may occur after the issue date which may make information displayed on this website no longer accurate or no longer reflect the current position.</p>
    <p>AirTicketsIndia.com hereby expressly disclaims any representation, warranty or undertaking in relation to the accuracy, completeness, quality or adequacy of any contents of this website. All fares, offers, prices, and conditions of sale may be subject to change without notice including eligibility, minimum or maximum stays, seasons and/or blackout dates, and/or other conditions/restrictions.</p>
	<p>AirTicketsIndia.com will not be responsible for any losses if, for any reason, the debit/credit card, billing address and/or credit card verification number cannot be verified in a timely manner, nor are we responsible for any changes in rates or any other charges that may occur during the verification or billing process.</p>
	<p>AirTicketsIndia.com makes every effort to work with directly from the airlines; AirTicketsIndia.com hereby expressly disclaims any representation, warranty or undertaking in relation to the quality or adequacy of any airfare on our website.</p>
	<p>AirTicketsIndia.com will not be liable to pay any compensation if we (the company) or you (the customer) are forced to cancel or in any way change your booking as a result of situations outside our control, could foresee or avoid, even with all due care. For example war or threat of war, civil strife, industrial disputes, natural disaster or terrorist activity.</p>
	<div style="text-align:center;">
	<img src="../../../themes/ATI/img/policy.png" style="max-width:100%;">
</div>
</div>
</div>


