<!--<div class="panel">
    <leftpanel user="{{user}}" ></leftpanel>
</div>-->

<layout meta="{{meta}}">
    <header>
    <div class="ui three column grid">
        <div class="column"><a id="m_btn" class="main_mnu" href="#"><img src="/themes/B2C/img/mobile/bars.png" alt="menu"></a></div>
        <div class="column"><a class="logo" href="/b2c/flights"><img src="/themes/B2C/img/mobile/logo.png" alt="CheapTicket.in"></a></div>
        <div class="column header_right_menu"><a href="/b2c/flights"><div class="home_button"></div></a></div>
    </div>
    <div id="m_menu" class="ui left vertical sidebar menu push scale down overlay">
        <div class="avat">
            <div class="item">
                <img id="avatar" class="ui avatar liitle image" src="/themes/B2C/img/guest.png">
                <div class="description">WELCOME
                    {{#if meta.user!=null}}
                    <h1 id="name">{{ meta.user.name }}</h1>
                    {{else}}
                    <h1 id="name">Guest User</h1>
                    {{/if}}
                    
                    </div>
            </div>
        </div>
        {{#if meta.user }}
            <a class="ui blue fluid button" href="/site/logout">Logout</a>
        {{/if}}
        <a class="item">
            <div class="prof"></div>
            <p><a href="/b2c/mobile/myprofile/">My Profile</a></p>
        </a>
        <a class="item">
            <div class="book"></div>
            <p><a href="/b2c/mobile/mybookings/">My Bookings</a></p>
        </a>
        <a class="item">
            <div class="trav"></div>
            <p><a href="/b2c/mobile/mytraveller/">Travellers</a></p>
        </a>
        <a class="item">
            <div class="print"></div>
            <p><a href="/b2c/contactus"> Contact Us</a></p>
        </a>   
		<a class="item">
            <div class="print"></div>
            <p><a href="/b2c/deals">Great Deals</a></p>
        </a> 		
        <span id="devider" class="item">QUICK TOOLS</span>
        <a class="item">
            <div class="print"></div>
            <p><a href="/b2c/mobile/mybookings/">Print / View Ticket</a></p>
        </a>
        <a class="item">
            <div class="cancel"></div>
            <p><a href="/b2c/mobile/mybookings/">Cancelations</a></p>
        </a>
        <a class="item">
            <div class="change"></div>
            <p><a href="/b2c/mobile/mybookings/"> Change / Reschedule</a></p>
        </a>
        
    </div>
</header>
    <div class="ui container">
        <div class="ui column grid">
            <div class="row" style="background-color: #FECD08;">
                <center><h2>Contact Us</h2></center>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <div class="column">
                    <h3 style="margin-left:16px;color: #1f1c53; font-weight: bold;">Customer Support</h3>
                    <div class="address">
					
                        <p style="font-size: larger;"><span style="font-weight: bold;">Email</span>: cs@cheapticket.in</p>
                        <p style="font-size: larger;"><span style="font-weight: bold;">Travel Expert</span>: +91-120-4887777</p>
                    </div>
                </div>
            </div>
            <div class="row"></div>
            <div class="row ui bottom aligned">
                <div class="column">
                    <h3 style="margin-left:16px;color: #1f1c53; font-weight: bold;">Airtickets India Pvt. Ltd.</h3>
                    <div class="address">
                        <p style="font-size: larger;">C – 101, Sector – 2</p> 
                        <p style="font-size: larger;">Noida – 201301 (U.P)</p>
                        <p style="font-size: larger;">India.</p>
                </div>
            </div>
        </div>       
    </div>
    {{#partial panel}}

    {{> base-panel }}

    {{/partial}}
</layout>

