{{# { step: booking.steps.4 } }}
{{#if step.active}}
<div class="step header step4 active" role="tab">Booking</div>
<form action="javascript:;" class="ui form segment step4" style="height: 400px; text-align: center;">
    {{#if step.completed}}
    <div class="booking-id">Booking ID: {{booking.aircart_id}}</div>
    {{#if booking.isNew(booking.aircart_status) }}
    <div class="message">We have received your Payment and your Booking is in process, our customer support team will contact you shortly. Or Call our customer support team for more detail.
    </div>

    <br>
    <a href="/b2c/airCart/mybookings/{{booking.aircart_id}}">View your ticket</a>
    {{else}}
    {{#if booking.isBooked(booking.aircart_status) }}
    <div class="message">Your Booking is Successful!</div>
    {{else}}
    <div class="message">Your Booking is in process!</div>

    {{/if}}

    <br>
    <a href="/b2c/airCart/mybookings/{{booking.aircart_id}}">View your ticket</a>
    {{/if}}


    {{else}}
    <div class="payment_loader">
        <div class="ui active inverted dimmer">
            <div class="wait_text" style="margin-top:55px;">Please Wait</div><br>
            <div style="font-size:17px;">Your booking is in progress.</div><br><br>
            <div class="ui text loader loader_position"></div>
        </div>
    </div>
    {{/if}}
</form>
{{/if}}
{{/}}