<style>
.thead {background-color: #002060; padding: 10px; font-size: 18px; color: #f7f7f7;}
.rhead {background-color: #fbc93f; padding: 8px;}
.tdcol{padding: 5px;}
.talign {text-align: center;}
.tab {border-style: solid;
 border-color: #0a0a0a; width:100%; height:100%; border:5;}
</style>
<div class="spacer-large">
<h2 class="cmsTitle">Activities</h2> 
<div class="well span12 cmsContent">
<!--<div><img src="../../../themes/B2C/img/Banner1.png" style="width: 100%; padding: 20px;" /></div>-->
<h3><strong>CheapTicket.in, promotes Online Travel for decades & seamless digital payment solutions. In co-operation with Banks, Credit Card companies, Loyalty Programmes, Redemption of Points by Banks & Gift Vouchers with Multimedia & E-Marketing companies.</strong> </h3>
<p><b>15th-Dec 2016</b></p>
<p><img src="../../../themes/B2C/img/icici_long.png" style="padding: 0px; float: left;" /></p><p><img src="../../../themes/B2C/img/lwc.png" style=" width: 620px; padding: 0px 0px 30px 0px; float: left;  " /></p>
<p style="padding: 0px 0px 130px 245px;">CheapTicket.in participated & promoted "Go Cashless, Get rewaeded "Livewithoutcashmovement" by ICICI Bank & CheapTicket.in providing 12 Grand prizes of Trips to "France & Belgium" to the world's leading less-cash economies. In addition, CheapTicket.in also has sponsored & gifted to the winners of the programme 10,000 Discount Vouchers for International & Domestic Airline Tickets.
</p>
<p><b>15th-Feb 2017</b> <span style="color: red; padding-left: 380px; font-size:20px; font-weight:bold;">*****</span></p>
<p>
<img src="../../../themes/B2C/img/axis_offer.png" style="padding: 0px 0px 0px 0px;" />
</p>
<p><span style="color: red; padding-left: 500px; font-size:20px; font-weight:bold;">*****</span></p>
</div>
</div>
