<style>
.thead {background-color: #002060; padding: 10px; font-size: 18px; color: #f7f7f7;}
.rhead {background-color: #fbc93f; padding: 8px;}
.tdcol{padding: 5px;}
.talign {text-align: center;}
.tab {border-style: solid;
 border-color: #0a0a0a; width:100%; height:100%; border:5;}
 .adtitle:{font-size: 17px; color:#1f1c53;}
</style>
<div class="spacer-large">
<h2 class="cmsTitle" style="background-image: url(../../../themes/B2C/img/exclusive.png)">Special Offers On Domestic and International Flight</h2> 
<div class="well span12 cmsContent">

<p>Book your flights tickets on CheapTicket.in and get10% off on Domestic Flights and 5% off on International Flights.</p>
<table class="tab" border="2" >
<tr><th colspan="6" class="thead">Domestic Flights</th></tr>
  <tr>
    
    <th class="rhead">Discount</th> 
    <th class="rhead">Maximum Discount</th>
	<th class="rhead">Minimum Booking Amount</th>
	<th class="rhead">Promo Code</th>
	<th class="rhead" ></th>
  </tr>
   <tr class="talign">
    
    <td class="tdcol">Flat 10%</td> 
    <td class="tdcol">Rs. 500</td>
	<td class="tdcol">Rs. 2000</td>
	<td class="tdcol">CTDOMCY</td>
	<td><a href="https://cheapticket.in/b2c/flights/search" target="_blank">Book Now</a></td>
  </tr>
  <tr><th colspan="6" class="thead">International Flights</th></tr>
  <tr>
   
    <th class="rhead">Discount</th> 
    <th class="rhead">Maximum Discount</th>
	<th class="rhead">Minimum Booking Amount</th>
	<th class="rhead">Cheapticket Promo Code</th>
	<th class="rhead"></th>
  </tr>
  
  <tr class="talign">
    
    <td class="tdcol">Flat 5%</td> 
    <td class="tdcol">Rs. 2000</td>
	<td class="tdcol">Rs. 7500</td>
	<td class="tdcol">CTINTCY</td>
	<td><a href="https://cheapticket.in/b2c/flights/search" target="_blank">Book Now</a></td>
  </tr>
</table>
<h2><u>Steps to avail the offer:</u></h2>
<ul>
<li>Visit www.CheapTicket.in</li>
<li>Make your flight bookings</li>
<li>Enter CheapTicket.in Promo Code</li>
<li>Make payment using Internet Banking, Credit or Debit Card& Online payment Wallets.</li>
<li>Enjoy Discount.</li>
<li>Conditions apply*</li>
</ul>
<h2><u>Terms and Conditions</u></h2>
<ul>
<li><span style="font-size:15px; font-weight:bold; color:#1f1c53;">Validity</span>: *Offer valid till 28th Feb, 2017.</li>
 <li>Offer valid only for direct individual travel on domestic flight operating within India.</li>
	<li>Every card holder is entitled upto two transactions per card. </li>
	<li>International flights operating from India for adults and children purchased online on in <a href="https://cheapticket.in/b2c/flights" target="_blank">CheapTicket.in</a>. </li>
	<li>Discount is available only on ‘Base fare’ and only Online, & not through our travel experts.</li>
	<li>Offer not combinable with any other offers or special offer of the Airlines. </li>
	<li>Offer valid only if the valid Promo Code is successfully entered before purchase and payment is made using Credit Card or Debit Card or Net Banking service or Online Payment wallets. </li>
	<li>Discount offers will not be adjusted or deducted from any Refunds or Cancelled in part or full. </li>
	<li>Offer can be redeemed against one purchase on CheapTicket.in</li>
	<li>The Offer cannot be in cash or kind & has no monetary value and cannot be reused, exchanged, encashed or refunded. </li>
	<li>The Company reserves the right to withdraw without prior notice this or any other offer. </li>
	<li>Any disputes arising out of will be subject to jurisdiction of Courts at Delhi, India.</li><p style="float:right;">&copy www.cheapticket.in</p>
</div>
</div>
