<style>
.thead {background-color: #002060; padding: 10px; font-size: 18px; color: #f7f7f7;}
.rhead {background-color: #fbc93f; padding: 8px;}
.tdcol{padding: 5px;}
.talign {text-align: center;}
.tab {border-style: solid;
 border-color: #0a0a0a; width:100%; height:100%; border:5;}
 .adtitle:{font-size: 17px; color:#1f1c53;}
</style>
<div class="spacer-large">
<img src="../../../themes/B2C/img/greatdeals.png" style="margin-top: -13px; margin-left: -10px; position: absolute;" /><h2 class="cmsTitle" style="background:none;"></h2> 
<div class="well span12 cmsContent">
<center><h1>Best Offers On Airline Tickets</h1></center>
<h4 style="padding-left: 120px;">Amazing Discounts With Online Payments, Credit-Debit Cards, E-Wallets & Coupons.<br> <br></h4>
<div><img src="../../../themes/B2C/img/greatdeal.png" style="width: 100%; padding: 20px;" alt="#LiveWithoutCashMovement" usemap="#Map" />
<map name="map" id="map">
<area  alt="" title="" href="https://cheapticket.in/b2c/cms/offers/28" shape="rect" coords="104,207,154,257" target="_blank"  />
<area  alt="" title="" href="https://cheapticket.in/b2c/cms/axis/73" shape="rect" coords="360,209,410,259" target="_blank"  />
<area  alt="" title="" href="https://cheapticket.in/b2c/cms/jiomoney/51" shape="rect" coords="610,220,660,270" target="_blank"  />
<area  alt="" title="" href="https://cheapticket.in/b2c/cms/paytm/48" shape="rect" coords="75,440,164,505" target="_blank"  />
<area  alt="" title="" href="https://cheapticket.in/b2c/cms/mobikwik/43" shape="rect" coords="369,451,455,507" target="_blank" />
<area  alt="" title="" href="https://cheapticket.in/b2c/cms/payu/44" shape="react"  coords="637,447,755,509"  target="_blank" />
</map>
</div>
</div>
</div>
