<style>
.thead {background-color: #002060; padding: 10px; font-size: 18px; color: #f7f7f7;}
.rhead {background-color: #fbc93f; padding: 8px;}
.tdcol{padding: 5px;}
.talign {text-align: center;}
.tab {border-style: solid;
 border-color: #0a0a0a; width:100%; height:100%; border:5;}
 .adtitle:{font-size: 17px; color:#1f1c53;}
</style>
<div class="spacer-large">
<h2 class="cmsTitle" style="background-image: none; padding-bottom: 0px;"><img src="../../../themes/B2C/img/greatdeals.png" style="margin-left:-10px;"/></h2> 
<div class="well span12 cmsContent">
<center><h1>Special offers by - <img src="../../../themes/B2C/img/icici.png"  width="130" height="35" style="margin-bottom: -7px;" /></h1></center> </div> <br>
<div><img src="../../../themes/B2C/img/Banner1.png" style="width: 100%; padding: 20px;" /></div>
<h4>CheapTicket.in Domestic and International Flight Offer for ICICI Customers:</h4>
<p>Book your flight tickets on CheapTicket.in and get 12% off on Domestic fights and 5% off on International flights<span style="font-size:12px;">(<span style="color:red;">*</span> T & C apply).</p>
<table class="tab" border="2" >
<tr><th colspan="6" class="thead">Domestic Flights</th></tr>
  <tr>
    
    <th class="rhead">Discount</th> 
   
	<th class="rhead">Minimum Booking Amount</th>
	<th class="rhead">Cheapticket Promo Code</th>
	<th class="rhead" ></th>
  </tr>
   <tr class="talign">
    
    <td class="tdcol">Flat 12%</td> 
   
	<td class="tdcol">Rs. 2000</td>
	<td class="tdcol">CTICICIDOM</td>
	<td><a href="https://cheapticket.in/b2c/flights/search" target="_blank">Book Now</a></td>
  </tr>
  <tr><th colspan="6" class="thead">International Flights</th></tr>
  <tr>
   
    <th class="rhead">Discount</th> 
   
	<th class="rhead">Minimum Booking Amount</th>
	<th class="rhead">Cheapticket Promo Code</th>
	<th class="rhead"></th>
  </tr>
  
  <tr class="talign">
    
    <td class="tdcol">Flat 5%</td> 
   
	<td class="tdcol">RS. 7500</td>
	<td class="tdcol">CTICICIINT</td>
	<td><a href="https://cheapticket.in/b2c/flights/search" target="_blank">Book Now</a></td>
  </tr>
</table>
<h2>Steps to avail the offer:</h2>
<ul>
<li>Visit www.CheapTicket.in</li>
<li>Make your flight bookings</li>
<li>Enter CheapTicket.in Promo Code</li>
<li>Make payment using ICICI Internet Banking, Credit or Debit Card.</li>
<li>Enjoy Discount.</li>
<li>Conditions apply*</li>
</ul>
<h2 class="adtitle"><span style="color:red;">*</span> Offer valid till 31st March, 2017.</h2> 
<h2>Terms and Conditions</h2>
<ul>
<li><span style="font-size:15px; font-weight:bold; color:#1f1c53;">Validity</span>: <span style="color:red;">*</span> Offer valid till 31st March, 2017.</li>
<li>The offer is valid for ICICI Bank customers only. </li>
<li>Discount percentage will be applicable on base fare only. </li>
<li>Maximum discount per transaction will be limited INR 1000 for Domestic and INR 4000 For International flights.</li>
<li>Every card holder is entitled upto two transactions per card. </li>
<li>Offer valid only for direct individual travel on domestic flight operating within India.</li>
<li>International flights operating from India for adults and children purchased online on in <a href="https://cheapticket.in/b2c/flights" target="_blank">CheapTicket.in</a>. </li>
<li>Offer not combinable with any other offers, or special offer of the Airlines. </li>
<li>Offer valid only if the valid Promo Code is successfully entered before purchase and payment is made using ICICI Credit Card or Debit Card or ICICI Net Banking service.</li>
<li>Discount offers will not be adjusted or deducted from any Refunds or Cancelled in part or full. </li>
<li>Offer can be redeemed against one purchase on www.cheapticket.in </li>
<li>The Offer cannot be in cash or kind & has no monetary value and cannot be reused, exchanged, encashed or refunded. </li>
<li>The Company reserves the right to withdraw without prior notice this or any other offer. </li>
<li>Any disputes arising out of will be subject to jurisdiction of Courts at Delhi, India.</li></ul>
<p style="float:right;">&copy www.cheapticket.in</p>
</div>
</div>
