<div class="spacer-large">
<h2 class="cmsTitle">Online Partners</h2> 
<div class="well span12 cmsContent">
<p>CheapTicket.in is powered with State of the Art Technology, In-house to provide seamless IBE for Flights, Hotels, and Cars & Holidays, in-cooperation for decades with some of the Online Technology Partners. </p>
<div><img src="../../../themes/B2C/img/Partners.png" style="width: 100%; padding: 20px;" /></div>

<h2 class="cmsTitle" style="background-image:none;">Online Bankers</h2>
<p>
Our Online Technology & Payment Gateways are powered with our own Credit – Debit Cards, Net Banking, IMPS, UPI, Payment Walltets, directly with some of the leading bankers & facilitators.
</p>
<div><img src="../../../themes/B2C/img/bankers_logo.png" style="width: 100%; padding: 20px;" /></div>
<h2 class="cmsTitle" style="background-image: url(../../../themes/B2C/img/onwallet.png)">Payment Money Wallets </h2> 
<p>Online Money Payment wallet, is a web service, providing convenient, seamless payment option to instantly pay for services, purchases & Online booking tickets. </p>
<p>The Payment wallet allow users to transfer money online from their bank account to their select wallet, thereafter make payment without sharing their Credit – Debit Card & or bank details & to seamlessly make payments with logins of their wallet. </p>
<p>CheapTicket.in offers Online Money Payment wallets, as an additional payment option to pay for all services. </p>
<div><img src="../../../themes/B2C/img/wallet.png" style="width: 100%; padding: 20px;" /></div>

</div>
</div>
