<style>
.thead {background-color: #c6d9f1; padding: 10px; font-size: 18px;}
.rhead {background-color: #fbc93f; padding: 8px;}
.tdcol{padding: 5px;}
.talign {text-align: center;}
.tab {border-style: solid;
 border-color: #0a0a0a; width:100%; height:100%; border:5;}
</style>
<div class="spacer-large">
<h2 class="cmsTitle" style="background-image: url(../../../themes/B2C/img/logo.png)">CheapTicket.in Promo Code Terms & Condition</h2> 
<div class="well span12 cmsContent">
<!--<div><img src="../../../themes/B2C/img/Banner1.png" style="width: 100%; padding: 20px;" /></div>-->
 <!-- <h2>Terms and Conditions</h2> -->
<ul>
<li>Validity: *Offer valid till 31st March, 2017.</li>
<li>Offer valid Online for Domestic/International flight bookings on www.CheapTicket.in.</li>
<li>Promo code offer applies only for Online bookings & not for E-mail or phone bookings.</li>
<li>Promo code cannot be combined with other promotional offers. </li>
<li>Promo codes discount available only at the time of Online bookings & “NOT” later.</li>
<li>Discount Offer is not valid for Travel agents.</li>
<li>Scheme not valid for Infants.</li>
<li>On any Refund, discount amount will be deducted.</li>
<li>Refunds are subject to Airlines cancellation, refund, no-show, penalty rules & Service Fees.</li>
<li>Service fee, Credit – Debit Card fees & bank charges apply for Refunds.</li>
<li>Discount Offer cannot be exchanged for cash or any other services or charges.</li>
<li>CheapTicket.in reserves the right to add, alter, modify all or any of these terms and conditions or replace wholly or in part, this offer by any other offer without prior notice.</li>
<li>Standard terms of Services & Conditions on CheapTicket.in website apply.</li>
<li>Any disputes arising out of will be subject to jurisdiction of Courts at Delhi, India.</li>
</ul>
</div>
</div>
