<style>
.thead {background-color: #002060; padding: 10px; font-size: 18px; color: #f7f7f7;}
.rhead {background-color: #fbc93f; padding: 8px;}
.tdcol{padding: 5px;}
.talign {text-align: center;}
.tab {border-style: solid;
 border-color: #0a0a0a; width:100%; height:100%; border:5;}
</style>
<div class="spacer-large">
<h2 class="cmsTitle" style="background-image: url(../../../themes/B2C/img/rp.png)">CheapTicket.in Offers for Rappler</h2> 
<div class="well span12 cmsContent">
<!--<div><img src="../../../themes/B2C/img/Banner1.png" style="width: 100%; padding: 20px;" /></div>-->
<h2>Get Discount on Domestic & International flights </h2>
<p>Use Promo Code & Get Flat Rs.250/- off on Domestic Flights & Flat Rs.1000/- off on International Flights on www.CheapTicket.in . The discount offer is exclusive to Credit – Debit Card, Net Banking & Payments wallets.</p>

<table class="tab" border="2" >
<tr><th colspan="5" class="thead"><strong>Domestic Flights Code for CashBackSmile</strong></th></tr>
  <tr>
    <th class="rhead">Medium</th>
    <th class="rhead">Discount</th> 
    <th class="rhead">Minimum Booking Amount</th>
	<th class="rhead">Cheapticket Promo Code</th>
	<th class="rhead" ></th>
  </tr>
  <tr class="talign">
    <td class="tdcol">Website</td>
    <td class="tdcol">Flat Off Rs. 250</td> 
    <td class="tdcol">Rs. 3000</td>
	<td class="tdcol">CTRL250</td>
	<td class="tdcol"><a href="https://cheapticket.in/b2c/flights/search" target="_blank">Book Now</a></td>
  </tr>
  <tr><th colspan="6" class="thead"><strong>International Flights for CashBackSmile</strong></th></tr>
  <tr>
    <th class="rhead">Medium</th>
    <th class="rhead">Discount</th> 
    <th class="rhead">Minimum Booking Amount</th>
	<th class="rhead">Cheapticket Promo Code</th>
	<th class="rhead"></th>
  </tr>
  <tr class="talign">
    <td class="tdcol">Website</td>
    <td class="tdcol">Flat Off Rs. 1000</td> 
    <td class="tdcol">Rs.  25000</td>
	<td class="tdcol">CTRL1000</td>
	<td class="tdcol"><a href="https://cheapticket.in/b2c/flights/search" target="_blank">Book Now</a></td>
  </tr>
</table>

 <h2>Terms and Conditions</h2>
<ul>
<li><span style="font-weight:bold; font-size: 15px; color:#1f1c53;">Validity</span>: *Offer valid till 31st September, 2017.</li>
<li>Offer valid Online for Domestic/International flight bookings on www.CheapTicket.in.</li>
<li>Promo code offer applies only for Online bookings & not for E-mail or phone bookings.</li>
<li>Promo code cannot be combined with other promotional offers. </li>
<li>Promo codes discount available only at the time of Online bookings & “NOT” later.</li>
<li>Discount Offer is not valid for Travel agents.</li>
<li>Scheme not valid for Infants.</li>
<li>Discount offer not adjustable from any Refunds or claimed as a monetary value..</li>
<li>Refunds are subject to Airlines cancellation, refund, no-show, penalty rules & Service Fees.</li>
<li>Service fee, Credit – Debit Card fees & bank charges apply for Refunds.</li>
<li>Discount Offer cannot be exchanged for cash or any other services or charges.</li>
<li>CheapTicket.in reserves the right to add, alter, modify all or any of these terms and conditions or replace wholly or in part, this offer by any other offer without prior notice.</li>
<li>Standard terms of Services & Conditions on CheapTicket.in website apply.</li>
<li>Any disputes arising out of will be subject to jurisdiction of Courts at Delhi, India.</li>
</ul>
</div>
</div>
