<style>
.thead {background-color: #002060; padding: 10px; font-size: 18px; color: #f7f7f7;}
.rhead {background-color: #fbc93f; padding: 8px;}
.tdcol{padding: 5px;}
.talign {text-align: center;}
.tab {border-style: solid;
 border-color: #0a0a0a; width:100%; height:100%; border:5;}
 .adtitle:{font-size: 17px; color:#1f1c53;}
</style>
<div class="spacer-large">
<h2 class="cmsTitle">CheapTicket.in Offers for Yes Bank</h2> 
<div class="well span12 cmsContent">
<center><h1>Special offers by - <img src="../../../themes/B2C/img/yesbank.png"  width="130" height="50" style="margin-bottom: -18px;" /></h1></center>
<div><img src="../../../themes/B2C/img/yes.png" style="width: 100%; padding: 20px;" /></div>
<h4>CheapTicket.in Domestic and International Flight Offer for Yes Bank Customers:</h4>
<p>Get Flat <b>750/- </b> on International flights and <b>250/- </b>on Domestic Flights ...<span style="font-size:12px;">(<span style="color:red;">*</span> T & C apply).</p>
<table class="tab" border="2" >
<tr><th colspan="6" class="thead">Domestic Flights</th></tr>
  <tr>
    
    <th class="rhead">Discount</th> 
   
	<th class="rhead">Minimum Booking Amount</th>
	<th class="rhead">Cheapticket Promo Code</th>
	<th class="rhead" ></th>
  </tr>
   <tr class="talign">
    
    <td class="tdcol">Flat Rs. 250</td> 
   
	<td class="tdcol">Rs. 2000</td>
	<td class="tdcol">YESFLY250</td>
	<td><a href="https://cheapticket.in/b2c/flights/search" target="_blank">Book Now</a></td>
  </tr>
  <tr><th colspan="6" class="thead">International Flights</th></tr>
  <tr>
   
    <th class="rhead">Discount</th> 
   
	<th class="rhead">Minimum Booking Amount</th>
	<th class="rhead">Cheapticket Promo Code</th>
	<th class="rhead"></th>
  </tr>
  
  <tr class="talign">
    
    <td class="tdcol">Flat Rs. 750</td> 
   
	<td class="tdcol">RS. 7500</td>
	<td class="tdcol">YESFLY750</td>
	<td><a href="https://cheapticket.in/b2c/flights/search" target="_blank">Book Now</a></td>
  </tr>
</table>
<h2>Steps to avail the offer:</h2>
<ul>
<li>Select Book Now</li>
<li>Make your flight bookings</li>
<li>Enter CheapTicket.in Promo Code</li>
<li>Make payment using Yes Bank Internet Banking, Credit or Debit Card.</li>
<li>Enjoy Discount.</li>
<li>Conditions apply*</li>
</ul>
<h2 class="adtitle"><span style="color:red;">*</span> Offer valid till 31st September, 2017.</h2> 
<h2>Terms and Conditions</h2>
<ul>
<li>Offer is valid for Yes Bank customers only. </li>
<li>Minimum Booking Amount for Domestic Flight is Rs. 2000/ & Rs. 7500 For International Flights. </li>
<li>Offer Valid only for flights operating from & within India.</li>
<li>Offer not combinable with any other offers or special offer of the Airlines.</li>
<li>Promo Code successfully entered before Online purchase and not on e-mail or call.</li>
<li>Discount offer not adjustable from any Refunds or claimed as a monetary value. </li>
<p style="float:right;">&copy www.cheapticket.in</p>
</div>
</div>
