@import '../mixins.less';
@import 'layout/panel.less';

header {
    > .ui.menu {
        > .item {
            width: 115px;
            padding-left: 52px;
            padding-top: 20px;
            padding-bottom: 20px;
            box-shadow: none;
            border-radius: 0;
            margin-bottom: -1px;

            &.active {
              box-shadow: inset 0px -5px 0px 0px rgba(254,205,8,1);
              //border-bottom: 4px solid #fecd08;
            }

            &.header {
                width: 229px;
                height: 56px;
                background: url(~img/logo.png) no-repeat 50% 50%;
                text-decoration: none;
                vertical-align: top;
            }

            &.flights {
                background-image: url(~img/icons/flights.png) !important;
                background-position: 15px 50% !important;
                background-repeat: no-repeat !important;
            }

            &.hotels {
                background-image: url(~img/icons/hotels.png) !important;
                background-position: 15px 50% !important;
                background-repeat: no-repeat !important;
            }

            &.bus {
                background-image: url(~img/icons/bus.png) !important;
                background-position: 15px 50% !important;
                background-repeat: no-repeat !important;
            }

            &.currency {
              border-bottom: none !important;

                padding: 20px 15px;
                width: auto;
            }
        }
    }
}
.AirticketIndia header>.ui.menu>.item.header{ background:url(~img/airticketindialogo.png) no-repeat 50% 50%;}
#app {
    display: table;
    width: 100%;
    min-height: 600px;

    padding-top: 57px;
    .copyright{
    max-height: 40px;
    text-align: center;
    font-size: 12px;
}
//
//    > header {
//        display: table-row;
//    }

    > .wrapper{
    
        
    .panel {
        display: table-cell;

        width: 229px;
        min-width: 229px;
        background: #fff;
        border-right: 1px solid #d5dbe0;
        vertical-align: top;

        .ui.segment {
            padding-top: 0px;
            margin-bottom: 10px;

            &.with-buttons {
                line-height: 10px;
                padding-top: 1rem;
            }
        }

        .ui.vertical.menu {
            width: auto;
            border-bottom: 1px solid #d5dbe0;


            &:last-child {
                border: none;
            }

            .belair-icon {
                vertical-align: text-bottom;
            }

            a {
                font-size: 14px;
                color: #222222;
                white-space: nowrap;
                height: 22px;
                line-height: 22px;
                opacity: .6;
                text-decoration: none;
            }
            a:hover {
                color: #009fda;
                background: #eeeeee;
            }


        }

        .header {
            display: block;
            font-size: 12px;
            font-weight: bold;
            color: #262d3d;
            text-transform: uppercase;
            text-align: center;
            margin: 8px 0;
        }
    }
    
    > .content {
        display: table-cell;
        vertical-align: top;
        width:100%;
        padding: 15px;
        
        h1 {
            font-size: 30px;
            font-weight: normal;
            color: #2f2f2f;
            margin: 0;
            margin-bottom: 5px;
        }

        p {
            font-size: 14px;
            color: #828282;
            margin: 0;
            margin-bottom: 10px;
        }
    }
    }
}


