<layout meta="{{meta}}">
    {{#if !mybookings.loggedin}}
    <div id="guestbooking" class="content">
        <header>
	<div class="ui three column grid">
		<div class="column">
			<a id="back_btn" class="back_page" href="javascript:;" on-click="back()">
				<img src="/themes/B2C/img/mobile/arrow_back.png" alt="back">
			</a>
		</div> 
		<div class="column">
			<a class="logo" href="javascript:;">
				<img src="/themes/B2C/img/mobile/logo.png" alt="CheapTicket.in">
			</a>
		</div> 
	</div> 
	<div id="m_menu" class="ui left vertical sidebar menu push scale down overlay">
	</div>
</header>
        <div class="ui segment">
            <div class="ui two column middle aligned center aligned relaxed fitted stackable grid">
                <div class="column">          
                    <!--                    Have a CheapTicket.in Account? Sign in here!<br>
                                        <button type="button" class="ui button small blue" on-click="signin()">Sign in</button>-->
                    
                    
                        <auth meta="{{meta}}" ></auth>
                    
                </div>  


                <div class="ui vertical divider">
                    Or
                </div> 
                <div class="center aligned column">
                    <guestbooking mybookings="{{mybookings}}" meta="{{meta}}"></guestbooking> 
                </div>
            </div>
        </div>
    </div> 
    {{else}}

    <details mybookings="{{mybookings}}" meta="{{meta}}"></details>
    {{/if}}

    {{#partial panel}}

    {{> base-panel }}

    {{/partial}}
</layout>
